.thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnails div.img_container {
  width:100px;
  height:100px;
  padding:1em;
  box-sizing:content-box;
  display:flex;
  align-items: center;
  justify-content: center;
}

.thumbnails div.img_container:hover {
  cursor: pointer;
  border:1em solid rgba(3, 110, 255, 0.27);
  padding:0;
}


