[submodule "frontend"]
	path = frontend
	url = https://github.com/process-project/RSD-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/process-project/RSD-backend
[submodule "auth-github"]
	path = auth-github
	url = https://github.com/research-software-directory/auth-github
[submodule "db-dump"]
	path = db-dump
	url = https://github.com/research-software-directory/db-dump
