[submodule "frontend"]
	path = frontend
	url = https://github.com/research-software-directory/frontend
[submodule "readthedocs"]
	path = readthedocs
	url = https://github.com/research-software-directory/readthedocs
[submodule "tasks-nlesc"]
	path = tasks-nlesc
 	url = https://github.com/research-software-directory/tasks-nlesc
[submodule "db-dump"]
	path = db-dump
	url = https://github.com/research-software-directory/db-dump
