/admin/.awcache/
/admin/.vscode/
/admin/build/
/admin/coverage/
/admin/node_modules/
/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/yarn-error.log*

/auth-github/__pycache__/
/auth-github/*.py[cod]

/backend/__pycache__/
/backend/.vscode
/backend/*.py[cod]/
/backend/src/__pycache__/
/backend/src/*.py[cod]

/docker-volumes/db
/docker-volumes/oaipmh-cache

/frontend/.cache
/frontend/.idea
/frontend/.pytest_cache/
/frontend/app/__pycache__/
/frontend/app/*.py[cod]
/frontend/tests/__pycache__/
/frontend/tests/*.py[cod]
/frontend/venv*/

/.idea

/graphs/node_modules/

/harvesting/__pycache__/
/harvesting/oaipmh-cache/

/rsd-secrets*.env
/.env

/node_modules
