before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y install docker-ce
  - cp .env.example .env
  - docker-compose -f docker-compose.yml -f docker-compose.test.yml build
script:
  - docker-compose -f docker-compose.yml -f docker-compose.test.yml run test