version: '2'

services:
  node-sass:
    container_name: node-sass
    build:
      context: .
      dockerfile: ./compose/local/node/Dockerfile
    volumes:
      - ./static:/static
      - ./style:/style

  flask:
    container_name: flask
    build:
      context: .
      dockerfile: ./compose/local/flask/Dockerfile
    volumes:
      - .:/app
    depends_on:
      - node-sass
    ports:
      - "5000:5000"

