# note 1: docker-compose only reads its environment variables from a special
#         file which must be named '.env'.
#
# note 2: Use of export below is ignored by docker-compose (specifically,
#         python-dotenv) but is useful for source'ing this file

export AUTH_GITHUB_CLIENT_ID=changeme
export AUTH_GITHUB_CLIENT_SECRET=changeme
export AUTH_GITHUB_ORGANIZATION=changeme
export BACKUP_CMD='xenon --version'
export COMPOSE_PROJECT_NAME=rsd
export DOMAIN=localhost
export GITHUB_ACCESS_TOKEN=changeme
export JWT_SECRET=changeme
export SSL_ADMIN_EMAIL=changeme
export SSL_DOMAINS=localhost
export ZENODO_ACCESS_TOKEN=changeme
export ZOTERO_API_KEY=changeme
export ZOTERO_LIBRARY=changeme
