export AUTH_GITHUB_CLIENT_ID=changeme
export AUTH_GITHUB_CLIENT_SECRET=changeme
export AUTH_GITHUB_ORGANIZATION=changeme
export BACKUP_CMD='xenon --version'
export DOMAIN=localhost
export GITHUB_ACCESS_TOKEN=changeme
export JWT_SECRET=changeme
export SSL_ADMIN_EMAIL=changeme
export SSL_DOMAINS=localhost
export ZOTERO_API_KEY=changeme
export ZOTERO_LIBRARY=changeme
