[v-cloak] {
  display: none !important;
}

#overview {
  margin-top: 2.2em;
}

#intro_text {
  font-family: $primaryFontLight;
  font-size: 2.4rem;
  padding-top: 0.8em;
  padding-bottom: 1.4em;
  width: 100%;
  max-width: 860px;
  a {
    font-family: $primaryFontBold;
    text-decoration: underline;
    &:hover {
      color: $primaryColor;
    }
  }
}

#search-software {

  line-height: 6rem;
  margin: 2.5em 0 2em; 

  
  .search-bar {
    height: 6rem;
    font-size: 1.8rem;
    display: flex;
    position:relative;

    &_button{
      position:absolute;
      
      right:0;
      cursor: pointer;
      background-color: $dark;
      height: 6rem;
      width: 6rem;
      display:flex;
      justify-content: center;
      align-items: center;

      .icon{
        width: 2.4rem;
        height: 2.4rem;
        transform: scale(0.9);
        fill: white;
        transition: transform 0.17s ease;
      }
    }

    @include bp(max, $tablet){
      font-size: 1.2rem;
    }

    input[type="text"] {
      font-size: inherit;
      padding: 0 1em;
      height: 100%;
      z-index: +1;
      flex:1;
      background-color: transparent;
      border: none;
      vertical-align: middle;
      transition: background-color .3s ease;

      &:focus{
        outline:0;
        background-color: darken( $light, 6% );
        margin-right: 6rem;
      }
    }

    &:hover{
      .search-bar_button{
        background-color: $primaryColor;

        .icon{
          transform: scale(1);
        }
      }
    }

  }
}

#sorter{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 35px;
  
  .text {
    padding-right: 1em;
    font-family: $primaryFontBold;
  }

}


// Animations for software items
.slide-fade-enter-active {
  transition: transform 0.36s ease 0.1s, opacity 0.36s ease 0.1s;
}
.slide-fade-leave-active {
  transition: transform 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0), opacity 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter{
  opacity: 0;
}
.slide-fade-leave-to{
  transform: translate3d( 0, 10px, 0 );
  opacity: 0;
}

#noscript_projects {
  ul {
    text-indent:-20px;
    margin-left:20px;
  }
  li {
    list-style-type: none;
    border: 1px solid $dark;
    a {
      padding: .2em;
      display: block;
      &:hover {
        color: $primaryColor;
      }
    }
  }
}

#software{ align-items: flex-start; }

#software_list {

  .software_list_wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .software_item {
    overflow: hidden;
    position:relative;
    min-height: 300px;
    width: 50%;
    padding: 1em;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    
    &:focus{
        background-color: darken( $light, 10%);
        outline:0;
        .code{
          font-family: $primaryFontBold;
        }
    }

   
    
    &.highlighted {
      background-color: $primaryColor;
      color:white;

      &:focus{
        background-color: darken( $primaryColor, 7%);
      }
    }

    &:hover {
      background-color: $dark;
      color:white;
    }

    .name {
      font-size: 2.4rem;
      height: auto;
      min-height: 3em;
      flex-shrink: 0;
      
    }
    .short{
      flex-shrink: 0;
      padding: 1em 0 1.3em;
    }
    .name, .short{
      width: calc(100% - 70px);
      padding-right: 5px;
    }
    .software_data{
      margin-top: auto;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      .last-update{
        flex-shrink: 0;
      }
      .highlighted{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon{
          width: 1.1em;
          height: 1.1em;
          fill: currentColor;
          margin-right: 0.5em;
          margin-top: -0.25em;
        }
      }

    }
    

    .code {
      position: absolute;
      top: 0;
      right: 0;
      width:70px;
      height:70px;
      font-size: 2.4rem;
      font-family: $primaryFontLight;
      color: $black;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    // .software-item
    @include bp( max, $tablet ){
      .name, .short{
        width: calc(100% - 60px);
      }
    }

    @include bp( max, $phablet + 100px ){
      width: 100%;
      .code {
        width:60px;
        height:60px;
      }
      .name {
        min-height: 2.5em;
      }
      
    }

  }
}

.pagination {

  margin: 3.5em 0 5.5em;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;

  span {
    margin: 0 1px;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    &:hover:not(.active):not(.gap) {
      background-color: $primaryColor;
      cursor: pointer;
      color: white;
    }
    &.active {
      background-color: $dark;
      color: $white;
    }
  }
}


#filters {
  margin-bottom: 50px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  // break filter groups to two columns between mobile and desktop
  .filters_container{
    overflow: hidden;
    transition: max-height 1.4s ease;
    
    &.mob-hidden{
      transition: max-height 0.7s ease;
    }

    @include bp( maxMin, $tablet, $phablet ){
      .filters_columns{
        columns: auto 2;
        column-gap: 40px;
        padding-bottom: 1.5em;
      }
    }

    @include bp( max, $tablet){
      max-height: 1200px;
     
      &.mob-hidden{
        max-height: 0;
      }
    }

    @include bp( max, $phablet){
      order: 2;
      max-height: 2000px;
    }
  }

  .filter-group{
    break-inside: avoid;

    &:not(:last-child){  margin-bottom: 2.25em; }

    ul{
      padding-right: 20px;

      li{ 
        overflow: hidden;
        padding: 0.2em 0; 
        // max-height: 5em;
        transition: all 0.2s ease-in, opacity 0.15s ease-in;

        &.empty {
          opacity: .5 !important;
          pointer-events: none;
        }
      }
    }

    &_title{
      display: inline-block;
      cursor: pointer;
      font-family: $primaryFontBold;
      padding-bottom: 0.5em;

      &:hover{
        color: $primaryColor;
      }
      .toggle-button{
        margin-left: 0.5em;
        border-radius: 55%;
        padding: 0px 5px;
        font-size: 11px;
        border-right: 1px solid;
        border-left: 1px solid;
      }
    }

  }

  // Toggle for all filters
  .toggle-filters{
    
    cursor: pointer;
    border-top: 1px solid $divider;
    padding-top: 0.5em;
    align-items: center;
    justify-content: center;
    font-family: $primaryFontBold;

    display: none;
    
    .text{
      display: flex;
      align-items: center;
    }
    .icon{
      margin-right: 0.4em;
      font-size: 1.3em;
      padding-bottom: 0.25em;
    }

    &:hover{
      color: $primaryColor;
    }

    // only display on tablet and under
    @include bp( max, $tablet ){
      display: flex;
    }

    @include bp( max, $phablet ){
      border-top: 0;
      border-bottom: 1px solid $divider;
      margin-bottom: 2em;
    }

    
  }
}
#escience_blog {
  padding: 80px 0;
  
  .blog_post-list{
    margin: 0 -10px;
  }

  .blog_post {
    width: 50%;
    padding: 10px;

    &:not(:last-child){
      margin-bottom: 20px;
    }

    .author{
      font-size: 1.4rem;
      padding: 0.3em 0 0.8em;
    }

    .title {
      font-family: $primaryFontLight;
      font-size: 2.4rem;
      line-height: 1.3;

      @include bp(max, $phablet){
        font-size: 2rem;
      }

    }

    &:hover {
      .title {
        color: $primaryColor;
      }
      img{
        transform: scale(1.03);
      }
    }

    .image-container{
      overflow: hidden;
      height: 260px;
      margin-bottom: 15px;
    }

    img{
      transition: transform 0.27s ease-in-out;
      overflow: hidden;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include bp(max, $phablet){
      width: 100%;

      .image-container{
        height: 220px;
      }

    }

  }

  @include bp(max, $tablet){
    padding: 60px 0;
  }
}


#latest_mentions {

  padding: 70px 0;

  ul{
      padding: 20px 0 15px;
  }
  li{
    &:not(:last-child) { margin-bottom: 2px; }
    .mention_content{ 
        display: block;
        padding: 1.8em 1.4em 1.6em; 
        // background-color: lighten( $dark, 10% );
        background-color: $light;
    }
    .mention_info {
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
    }
    .mention_title{
      font-family: $primaryFontBold;
      padding-right: 1em;
    }
    .mention_post-date{
      flex-shrink: 0;
      font-family: $primaryFontLight;
    }
    .mention_location{
      font-family: $primaryFontLight;
    }
    a.mention_content:hover{
        background-color: lighten( $dark, 5% );
        color: $white;
    }
    .icon{
      margin-left: 0.5em;
      width: 0.8em;
      height: 0.8em;
      display: inline-block;
      fill: currentColor;
    }
  } 


  // a .icon {
  //   width: .8em;
  //   height: .8em;
  //   margin-left: .5em;
  //   display: inline-block;
  // }

  // .mention_title{
  //   font-family: $primaryFontBold;
  // }
  // .mention_location, .mention_date{
  //   font-family: $primaryFontLight;
  // }

  // .mention_info {
  //   width: 75%;
  // }
  
  // .mention_date {
  //   flex-shrink: 0;
  //   width: 25%;
  //   text-align: right;
  // }

  // @include bp(max, $tablet){
  //   padding: 50px 0;
    
  //   .mention_info, .mention_date{
  //     width: 100%;
  //     text-align: left;
  //   }
  //   .mention_date{
  //     padding-top: 1em;
  //     font-size: 1.4rem;
  //   }
  
  // }

}