#project_page {
  // Introduction
  // -----------------------------------
  #introduction {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .row {
      justify-content: space-between;
    }

    .col-3-4 {
      max-width: 860px;
    }
  }

  // Sidebar
  // -----------------------------------

  .sidebar {
    padding: 20px;
    .fund,
    .links,
    .partners,
    .status,
    .tags_container {
      padding-bottom: 2em;
      .icon {
        margin-left: 0.3em;
        display: inline-block;
        position: relative;
      }
    }

    .icon {
      width: 0.8em;
      height: 0.8em;
      fill: currentColor;
    }
    h5 {
      display: flex;
      align-items: center;
      color: $primaryColor;
      padding: 0 0 0.5em;

      .icon {
        margin-right: 0.5em;
      }
    }
    .tags {
      margin-left: -2px;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 2px;
        padding: 0.5em 0.8em;

        &.bg-light {
          background-color: darken($light, 20%);
        }
      }
    }
    .status_word {
      text-align: center;
      font-size: smaller;
    }
  }

  .organisation {
    img {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
    }
  }

  .progress_bar {
    background-color: darken($light, 10%);
    border-radius: 0.25em;
    border: none;
    height: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.7em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .progress_bar .progress {
    background-color: $primaryColor;
    border-radius: 0.25em;
    height: 0.5em;
    justify-content: space-between;
    width: 75%;
  }

  .time_span {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
  }

  .time_span .end_date {
    text-align: right;
  }

  // Output and Impact
  // -----------------------------------

  #project_mentions,
  #project_impact {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    #output_row,
    #impact_row {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .divider {
      border-top: 1px solid $white;
      opacity: 0.25;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .mention_blog-post {
      margin-bottom: 50px;

      display: flex;
      flex-wrap: wrap;

      .image-container {
        flex: 2 0 0;
        overflow: hidden;
        height: 208px;
      }
      img {
        transition: transform 0.27s ease-in-out;
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-color: darken($dark, 2%);
      }
      .data {
        display: flex;
        flex-direction: column;
        flex: 4 0 0;

        margin-left: 25px;
      }
      .title {
        font-family: $primaryFontLight;
        font-size: 3.6rem;
        line-height: 1.3;

        @include bp(max, $phablet) {
          font-size: 2.6rem;
        }
      }
      .author,
      .date {
        font-size: 1.6rem;
        padding: 0;
      }
      .author {
        padding: 0.5em 0 0;
      }

      .visit-blog {
        margin-top: auto;
      }

      &:hover {
        .title,
        .visit-blog {
          color: $primaryColor;
        }
        img {
          transform: scale(1.03);
        }
      }

      @include bp(max, $phablet) {
        .image-container,
        .data {
          flex: auto;
          width: 100%;
        }
        .data {
          margin-left: 0;
          margin-top: 20px;
        }
        .author,
        .date {
          font-size: 1.4rem;
        }
        .visit-blog {
          margin-top: 1em;
        }
      }
    }

    .mention {
      .mention_button {
        transition: 0.1s ease;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
          transition: 0.2s ease-in;
          width: 18px;
          height: 18px;
          fill: $primaryColor;

          transition: 0.3s ease-in;
          polygon {
            transition: 0.2s ease-in;
          }
        }
        &.active {
          .icon {
            width: 18px;
            height: 18px;
            fill: $primaryColor;

            transform: rotate(135deg);
          }
          .category {
            transform: translate3d(8px, 0, 0);
          }
          .amount {
            background-color: white;
          }
          .icon {
            fill: white;
          }
        }
        .category {
          transition: 0.2s ease-in;
        }
        &:hover {
          .category {
            transform: translate3d(8px, 0, 0);
          }
          .amount {
            background-color: white;
          }
          .icon {
            fill: white;
          }
        }
      }

      h3 {
        font-size: 2rem;
        display: flex;
        align-items: center;

        .amount {
          transition: 0.2s ease-in;
          font-family: $primaryFontBold;
          font-size: 0.8em;
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: $primaryColor;
          color: $dark;
          margin-right: 0.8em;
        }
      }

      .mention_list {
        //display: none;
        overflow: hidden;
        transition: height 0.5s;
        margin: 0;
        ul {
          padding: 20px 0 15px;
        }
        li {
          &:not(:last-child) {
            margin-bottom: 2px;
          }

          .mention_content {
            display: block;
            padding: 1em;
            background-color: lighten($dark, 10%);
          }
          a.mention_content:hover {
            background-color: darken($light, 2%);
            color: $black;
          }
        }
      }

      .icon {
        margin-left: 0.5em;
        width: 0.8em;
        height: 0.8em;
        display: inline-block;
        fill: currentColor;
      }
    }
  }

  // Team
  // -----------------------------------

  #team {
    .container {
      padding-top: 65px;
      padding-bottom: 65px;
    }
    .intro {
      margin-bottom: 2em;
      a {
        text-decoration: underline;
      }
    }
    .contributors_list {
      width: (100% / 3) * 2;

      @include bp(max, 1100px) {
        width: 90%;
        order: 2;
        margin-top: 40px;
      }
      @include bp(max, $phablet) {
        width: 100%;
      }
      ul {
        margin: 0 -10px 15px;
        li {
          padding: 0 10px;
          margin-top: 2em;
          width: 50%;

          @include bp(max, $phablet) {
            width: 100%;
            margin-bottom: 1.2em;
            .contributor_name {
              font-size: 1.8rem;
            }
          }
        }
      }

      &.long-list {
        .row {
          transition: height 0.3s ease-in;
          height: 260px;
          overflow: hidden;

          .gradient {
            transition: opacity 0.23s ease;
          }
        }

        .button .icon {
          transition: 0.3s ease-in;
        }

        &.active {
          .row .gradient {
            opacity: 0;
          }

          .button .icon {
            transform: rotate(135deg);
          }
        }
      }
    }

    .button {
      margin-bottom: 2em;
    }
    .contributor_name {
      font-family: $primaryFont;
      font-size: 2rem;
      color: $primaryColor;
    }
    .contributor_picture {
      margin-bottom: 1em;
      text-align: center;
      img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 50%;
      }
    }
    .contributor_email {
      svg {
        height: 1em;
        width: 1em;
        position: relative;
        top: 3px;
        margin-right: 0.3em;
        display: inline-block;
      }
      &:hover {
        color: $primaryColor;
      }
    }

    .contact_card {
      width: (100% / 3);
      z-index: 10;
      .contact_card_header {
        color: $white;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.01em;
        font-family: $primaryFontBold;
        background-color: $primaryColor;
        padding: 0.8em 1.5em 0.8em 1.45em;
      }
      .contact_card_content {
        line-height: 1.55;
        padding: 1.5em 2.5em 1.5em 1.5em;
        background-color: $white;

        display: flex;
        flex-direction: column;
      }

      @include bp(maxMin, 1100px, $phablet) {
        width: auto;

        .contact_card_content {
          flex-direction: row;
          align-items: center;

          .contributor_picture {
            margin-right: 20px;
          }
          .contributor_info {
            margin-top: -0.3em;
          }
        }
      }
      @include bp(max, $phablet) {
        text-align: center;
        width: 100%;
        .contact_card_content {
          padding: 1.5em;
        }
      }
    }

    @include bp(max, $phablet) {
      text-align: center;
    }
  }
  figure figcaption {
    font-style: italic;
    font-size: smaller;
    padding-bottom: 10px;
  }

  // Related projects
  // -----------------------------------

  #related-projects {
    .container {
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }

  .project-items {
    display: flex;
    justify-content: space-between;

    .project-item {
      &:not(:last-child) {
        margin-bottom: 2em;
      }

      width: 50%;

      @include bp(max, 767px) {
        width: 100%;
      }

      &:hover {
        color: $primaryColor !important;
        .thumb {
          transform: scale(1.03);
        }
      }
    }

    .content {
      display: flex;
      padding-right: 2em;

      .thumb {
        transition: 0.25s ease-in;
        flex-shrink: 0;
        padding: 0 1em 1em 0;
        width: 100px;
        height: 100px;
      }
      h2 {
        font-size: 2rem;
        line-height: 1.3em;
        margin-bottom: 0.2em;
        font-family: $primaryFont;
      }
      .text {
        font-family: $primaryFontLight;
        font-size: 2rem;
        line-height: 1.3em;
        margin-bottom: 0.2em;
      }
      .author {
        margin-top: 0.3em;
        font-family: $primaryFont;
        font-size: 1.6rem;
        line-height: 1.4em;
      }
    }
  }
}
