#project_index_page {
  // Common
  // -----------------------------------
  section {
    @include bp(max, $phablet) {
      .subtitle {
        text-align: center;
      }
    }
  }

  // Search
  // -----------------------------------
  #search-project {
    line-height: 6rem;
    margin: 2.5em 0 2em;
    justify-content: center;
    align-items: center;

    .search-bar {
      height: 6rem;
      font-size: 1.8rem;
      display: flex;
      position: relative;

      &_button {
        position: absolute;

        right: 0;
        cursor: pointer;
        background-color: $dark;
        height: 6rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 2.4rem;
          height: 2.4rem;
          transform: scale(0.9);
          fill: white;
          transition: transform 0.17s ease;
        }
      }

      @include bp(max, $tablet) {
        font-size: 1.2rem;
      }

      input[type="text"] {
        font-size: inherit;
        padding: 0 1em;
        height: 100%;
        z-index: +1;
        flex: 1;
        background-color: transparent;
        border: none;
        vertical-align: middle;
        transition: background-color 0.3s ease;

        &:focus {
          outline: 0;
          background-color: darken($light, 6%);
          margin-right: 6rem;
        }
      }

      &:hover {
        .search-bar_button {
          background-color: $primaryColor;

          .icon {
            transform: scale(1);
          }
        }
      }
    }
  }

  // Project list
  // -----------------------------------
  #project-list {
    .container {
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }

  .project-list-items {
    display: flex;
    justify-content: space-between;

    .project-item {
      &:not(:last-child) {
        margin-bottom: 2em;
      }

      width: 50%;

      @include bp(max, 767px) {
        width: 100%;
      }

      &:hover {
        color: $primaryColor !important;
        .thumb {
          transform: scale(1.03);
        }
      }
    }

    .content {
      display: flex;
      padding-right: 2em;

      .thumb {
        transition: 0.25s ease-in;
        flex-shrink: 0;
        padding: 0 1em 1em 0;
        width: 100px;
        height: 100px;
      }
      h2 {
        font-size: 2rem;
        line-height: 1.3em;
        margin-bottom: 0.2em;
        font-family: $primaryFont;
      }
      .text {
        font-family: $primaryFontLight;
        font-size: 2rem;
        line-height: 1.3em;
        margin-bottom: 0.2em;
      }
      .author {
        margin-top: 0.3em;
        font-family: $primaryFont;
        font-size: 1.6rem;
        line-height: 1.4em;
      }
    }
  }
}
