.sidebar {
    padding: 20px;
}

/*
.links, .fund {
    padding-bottom: 2em;
    .icon {
        margin-left: 0.3em;
        display: inline-block;
        position: relative;
        top: 2px;
    }
}*/

.sidebar{
    .fund, .links, .partners, .status, .tags_container {
        padding-bottom: 2em;
        .icon {
            margin-left: 0.3em;
            display: inline-block;
            position: relative;
            top: 2px;
        }
    }

    .icon{
        width: 17px;
        height: 17px;
        fill: currentColor;
    }
    h5{
        display: flex;
        align-items: center;
        color: $primaryColor;
        padding: 0 0 0.5em;

        .icon{
            margin-right: 0.5em;
        }
    }
    .tags{
        margin-left: -2px;
        display: flex;
        flex-wrap: wrap;

        li{
            margin: 2px;
            padding: 0.5em 0.8em;

            &.bg-light{
                background-color: darken( $light, 4% );
            }
        }
    }
    .status_word {
        text-align: center;
        font-size: smaller;
    }
}

.contributor_email .icon {
    margin-right: 0.3em;
    display: inline-block;
    position: relative;
    top: 3px;
}

.progress_bar {
    background-color: darken( $light, 10% );
    border-radius: 0.25em;
    border: none;
    height: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.7em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.progress_bar .progress {
    background-color: $primaryColor;
    border-radius: 0.25em;
    height: 0.5em;
    justify-content: space-between;
    width: 75%;
}

.time_span {
    display: flex;
    justify-content: space-between;
    font-size:smaller;
}

.time_span .end_date {
    text-align: right;
}

.project_contact_person {
    width: 100% !important;
}

#team {
    .container{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .contributors_list {

        width: 75%;

        @include bp(max, 1100px ){
            width: 90%;
            order: 2;
            margin-top: 40px;
        }
        @include bp(max, $phablet ){
            width: 100%;
        }
        ul{
            margin: 0 -10px 15px;
            li {
                padding: 0 10px;
                margin-bottom: 2em;
                width: 33.3%;

                @include bp(max, $phablet ){
                    width: 100%;
                    margin-bottom: 1.2em;
                    .contributor_name{
                        font-size: 1.8rem;
                   }
                 }
            }
        }


    }

    .contributor_name {
        font-family: $primaryFont;
        font-size: 2rem;
        color: $primaryColor;
    }

    @include bp(max, $phablet ){
        text-align: center;
    }
}

figure figcaption {
    font-style: italic;
    font-size: smaller;
    padding-bottom: 10px;
}

// Mentions section:
#mentions .container {
    padding-top: 40px;
    padding-bottom: 40px;
    #output_row, #impact_row {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
