.sidebar {
    padding: 5px;
}

.links .icon, .fund .icon {
    margin-left: 0.3em;
    display: inline-block;
    position: relative;
    top: 2px;
}

.contributor_email .icon {
    margin-right: 0.3em;
    display: inline-block;
    position: relative;
    top: 3px;
}

/*.progress_bar {
    border: 1px solid #ccc;
}

.progress_bar .progress {
    height: 1em;
    color: #000;
    background-color: #9e9e9e;
}*/

.progress_bar {
    border: 1px solid darken( $light, 30% );
    background-color: darken( $light, 10% );
}

.progress_bar .progress {
    height: 1em;
    background-color: $primaryColor;
}