.sidebar {
    padding: 5px;
}

.links .icon, .fund .icon {
    margin-left: 0.3em;
    display: inline-block;
    position: relative;
    top: 2px;
}

.contributor_email .icon {
    margin-right: 0.3em;
    display: inline-block;
    position: relative;
    top: 3px;
}
