{% extends "layout_template.html" %}
{%- block head -%}
{{super()}}
<title>Projects | Research Software Directory</title>
{%- endblock -%}
{%- block content -%}
<div id="project_index_page">

  <section>
    <div class="container">
      <div class="row">
        <div class="col-1-4">
        </div>
        <div class="col-3-4">
          <h1 class="title">Projects</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-1-4">
        </div>
        <div class="col-3-4">
          <p class="poweredby">This website is powered by the <a
              href="https://github.com/research-software-directory/research-software-directory">Research Software
              Directory</a> — the content management system for research software.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div id="search-project" class="row" v-cloak>
      <div class="col-1-4">
      </div>

      <div class="col-3-4 search-bar bg-light">
        <input type='text' v-model="filter.search" id="input" placeholder="Start typing here to search for project">
        <div class="search-bar_button">
          <svg class="icon">
            <use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-search"></use>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <noscript>
    <div id="noscript_projects" class="row">
      {%- for title in (projects  | sort(attribute="title")) -%}
      <li class="col-1-4">
        <a href="/projects/{{ title.id }}">{{ title.title }}</a>
      </li>
      {%- endfor -%}
    </div>
  </noscript>

  <section class="" id="projects-container" v-cloak>
    <div class="container">
      <div class="row">
        <div class="col-1-4" id="filters">
          <div class="filters_container" :class="{ 'mob-hidden' : !mobShowFilters }">

            <div class="filters_columns">
              <div class="filter-group">
                <div class="filter-group_title" @click="topicsFilterOpen = !topicsFilterOpen">
                  Topic
                  <span class="toggle-button">
                    [[ topicsFilterOpen ? '-' : '+' ]]
                  </span>
                </div>

                <transition-group tag="ul" class="filter-list" v-bind:css="false" v-on:before-enter="filtersBeforeEnter"
                  v-on:enter="filtersEnter" v-on:before-leave="filtersBeforeLeave" v-on:leave="filtersLeave">
                  <li v-for="(topic, index) in topicsWithCount" v-bind:data-index="index" :key="topic"
                    v-if="topicsFilterOpen" :class="topic.count === 0 ? 'empty' : ''">
                    <label :for="topic.name" class="checkbox">
                      <input type="checkbox" name="checkbox" :id="topic.name" v-model="filter.topics"
                        :value="topic.name">
                      <div class="custom-checkbox"></div>
                      <span class="text">[[topic.name]] <strong>([[ topic.count ]])</strong></span>
                    </label>
                  </li>
                </transition-group>

              </div>

              <div class="filter-group">
                <div class="filter-group_title" @click="technologiesFilterOpen = !technologiesFilterOpen">
                  Technology
                  <span class="toggle-button">
                    [[ technologiesFilterOpen ? '-' : '+' ]]
                  </span>
                </div>

                <transition-group tag="ul" class="filter-list" v-bind:css="false" v-on:before-enter="filtersBeforeEnter"
                  v-on:enter="filtersEnter" v-on:before-leave="filtersBeforeLeave" v-on:leave="filtersLeave">
                  <li v-for="(technology, index) in technologiesWithCount" v-bind:data-index="index" :key="technology"
                    v-if="technologiesFilterOpen" :class="technology.count === 0 ? 'empty' : ''">
                    <label :for="technology.name" class="checkbox">
                      <input type="checkbox" name="checkbox" :id="technology.name" v-model="filter.technologies"
                        :value="technology.name">
                      <div class="custom-checkbox"></div>
                      <span class="text">[[technology.name]] <strong>([[ technology.count ]])</strong></span>
                    </label>
                  </li>
                </transition-group>
              </div>

              <div class="filter-group">
                <div class="filter-group_title" @click="statusesFilterOpen = !statusesFilterOpen">
                  Status
                  <span class="toggle-button">
                    [[ statusesFilterOpen ? '-' : '+' ]]
                  </span>
                </div>

                <transition-group tag="ul" class="filter-list" v-bind:css="false" v-on:before-enter="filtersBeforeEnter"
                  v-on:enter="filtersEnter" v-on:before-leave="filtersBeforeLeave" v-on:leave="filtersLeave">
                  <li v-for="(status, index) in statusesWithCount" v-bind:data-index="index" :key="status"
                    v-if="statusesFilterOpen" :class="status.count === 0 ? 'empty' : ''">
                    <label :for="status.name" class="checkbox">
                      <input type="checkbox" name="checkbox" :id="status.name" v-model="filter.statuses"
                        :value="status.name">
                      <div class="custom-checkbox"></div>
                      <span class="text">[[status.name]] <strong>([[ status.count ]])</strong></span>
                    </label>
                  </li>
                </transition-group>
              </div>

            </div>
          </div>

          <div class="toggle-filters" @click="mobShowFilters = !mobShowFilters">
            <span class="icon">[[ mobShowFilters ? '-' : '+' ]]</span>
            <span class="text">[[ mobShowFilters ? 'Hide filters' : 'Show filters' ]]</span>
          </div>
        </div>
        <div class="col-3-4" id="project_list">
          <transition-group appear name="slide-fade" tag="div" class="row project-items">
            <article v-for="project in pagedProjects" v-bind:key="project" class="project-item project-card bg-light">
              <a :href="'/projects/' + (project.id)">
                <div class="content">
                  <div class="thumb">
                    <img :src="project.imageUrl" alt="">
                  </div>
                  <div>
                    <div>
                      <h2 class="title">[[project.title]]</h2>
                      <p class="description">[[project.subtitle]]</p>
                    </div>
                    <div class="gutter">
                      <div class="last-update-ago">[[project.lastUpdateAgo]]</div>
                      <div class="status">[[project.status]]</div>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </transition-group>

          <div v-if="pagedProjects.length === 0">
            No results for <i>[[ filter.search ]]</i>
          </div>

          <div class="pagination" v-else>
            <span @click="page = page > 1 ? page - 1 : page">
              &lt;
            </span>

            <template v-for="i in lastPage">
              <span v-if="showPage(i)" @click="page = i" :class="{ active: page === i }">
                [[ i ]]
              </span>
              <span class="gap" v-else-if="i !== lastPage && showPage(i-1)">
                ...
              </span>
            </template>

            <span @click="page = page < lastPage ? page + 1 : page">
              &gt;
            </span>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% if mentions %}
<section id="latest_mentions">
  <div class="container">
    <div class="row">

      <div class="col-1-3 subtitle text-blue">
        Latest mentions
      </div>

      <div class="col-2-3">
        <ul>
          {% for mention in mentions[:7] %}
          <li>

            {% if mention.url %}

            <a href="{{mention.url}}" target="_blank" class="mention_content bg-light">
              <div class="mention_info">
                <div class="mention_title">{{mention.title}}<svg class="icon">
                    <use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-external"></use>
                  </svg></div>
                <div class="mention_post-date">{{ mention.date | human_date_filter }}</div>
              </div>
              <!--<div class="mention_location">{{ mention.meetingName or '' }}</div>-->
            </a>
            {% else %}
            <div class="mention_content bg-light">
              <div class="mention_info">
                <div class="mention_title">{{mention.title}}<svg class="icon">
                    <use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-external"></use>
                  </svg></div>
                <div class="mention_post-date">{{ mention.date | human_date_filter }}</div>
              </div>
              <!--<div class="mention_location">{{ mention.meetingName or '' }}</div>-->
            </div>
            {% endif %}



          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</section>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/polyfills.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/project_index_scripts.js') }}"></script>
<script>
  initOverview({{ data_json }}, {{ status_choices_json }}, {{ topic_choices_json }}, {{technology_choices_json}});
</script>
{%- endblock -%}