/* tags */
body {
    font-family: $primaryFont;
    font-size: $defaultFontSize;
    line-height: $defaultLineHeight;
    -webkit-font-smoothing: antialiased;    

    background-color: $white;
    color: $dark;
}

::selection, ::-moz-selection{
    color: $white;
    background: $primaryColor;
}


/* ids */
#layout_container {
	height: 100%;
    min-height: 100%;
    position: relative;
}

#body {
    // margin: 0px;
    // margin-left: auto;
    // margin-right: auto;
	// padding: 0px;
	// width: $contentWidth;
	// min-height: calc(100% - 260px);
}
section{
    display: block;
}
.bg-dark{
    background-color: $dark;
}

.bg-light{
    background-color: $bgLight;
}

.container{
    // position: relative;
    // display: inline-block;
    width: 100%;
    max-width: $contentWidth;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    // &--flex{
    //     display: flex;
    // }
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{

}