strong{
    font-family: $primaryFontBold;
    font-weight: normal;
    font-style: normal;
}

.title{
    font-size: 6.4rem;
}
.subtitle {
    font-family: $primaryFontLight;
    font-size: 3.6rem;
    padding-right: 15px;
    padding-bottom: 1em;
}

.subsubtitle {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.text-blue{
    color: $primaryColor !important;    
}