.title{
    font-size: 3em;
    font-weight: bold;
}
.subtitle{
    font-size: 2em;
    text-align: center;
    padding-bottom: 10px;
}

.subsubtitle{
    font-size: 1.5em;
    padding-bottom: 10px;
}