strong{
    font-family: $primaryFontBold;
    font-weight: normal;
    font-style: normal;
}

.title{
    font-size: 6.4rem;
    line-height: 1.3;

    @include bp(max, $tablet){
        font-size: 5.4rem;
    }
    @include bp(max, $phablet){
        font-size: 3.8rem;
        line-height: 1.4;
    }
}
.subtitle {
    font-family: $primaryFontLight;
    font-size: 3.6rem;
    line-height: 1.3em;
    padding-right: 25px;
    padding-bottom: 1.5em;

    @include bp(max, $phablet){
        font-size: 3rem;
    }
}

.subsubtitle {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.text-blue{
    color: $primaryColor !important;    
}
.text-underline{
    text-decoration: underline;
}

.text-content{
    p a, ul a, ol a{
        color: currentColor;
        display: inline;
        box-shadow: 0px 0px 0px 0px white, 0px 1px 0px 0px currentColor;
        
        &:hover{
            color: $primaryColor;
        }
        &:visited { 
            color: $primaryColor;
            &:hover{
                color: $black;
            }
        }
        &:focus{
            outline: none;
            color: $primaryColor;
            box-shadow: 0px 0px 0px 0px white, 0px 2px 0px 0px currentColor;
        } 
    }
}