 <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://www.research-software.nl",
          "name": "Research Software Directory"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://www.research-software.nl/software",
          "name": "Software"
        }
      },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https://www.research-software.nl/software/{{template_data.slug}}",
          "name": "{{template_data.brandName}}"
        }
      }]
    }
</script>