{% if template_data.logging %}
<section class="" id="logging">
    <div class="container">
        {% with logging = template_data.logging %}
        <div class="logging">
            <div class="logging-content" style="height:0px">
                <h2 class="subtitle text-blue">Logging data for page maintainers</h2>
                <ul>
                    <li>citation metadata: {{ logging["releases"] }}</li>
                    <li>OAI-PMH metadata: {{ logging["metadata"] }}</li>
                </ul>
            </div>
            <div class="logging-button button button--outlined">
                <span><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-plus"></use></svg></span>
                <span class="button-text">Show logging</span>
            </div>
        </div>
        {% endwith %}
    </div>
</section>
{% endif %}
