{% if template_data.related.projects | no_none_filter %}
<section class="" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-1-4">
                <h2 class="subtitle text-blue">Projects with {{template_data.brandName}}</h2>
            </div>
            <div class="col-3-4">
                <div class="row project-items">

                    {% for fpproject in template_data.related.projects | no_none_filter %}
                    {% with project = fpproject.foreignKey %}
                    <article class="project-item col-1-2">
                        <a href="/projects/{{project.primaryKey.id}}">
                            <div class="content">
                                <div class="thumb"><img src="{{project.imageUrl}}" alt=""></div>
                                <div class="text">
                                    <h2 class="text-blue">
                                        {{project.title}}
                                    </h2>
                                    <p>
                                        {{project.subtitle}}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endwith %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
