
// Media Queries
// -------------------------------------------------

// Devices

$phone:		    480px;
$phablet:	    600px;
$tablet:	    960px;
$desktop:		1280px;
$widescreen:    1440px;

// $phone-port:    580px;
// $phone-land:	690px;
// $tablet-port:	768px;
// $tablet-land:	1024px;
// $desktop:		1280px;
// $widescreen:    1600px;


@mixin bp( $type, $first:0, $second:0 ) {

    @if( $type == maxMin ){
        @media only screen and ( max-width: $first ) and ( min-width: $second ){
            @content;
        }
    } 

    @if( $type == min ){
        @media only screen and ( min-width: $first ){
            @content;
        }
    } 

    @if( $type == max ){
        @media only screen and ( max-width: $first ){
            @content;
        }
    } 

}

/* Examples
____________________________________________________________________________________

You can select the type of media query you want to create: maxMin, min or max.
For min and max values you can use predefined device variables or simple px values.
Keep in mind that the default min and max value is set to 0.

Tip!
You can do something like @include bp( max, $desktop - 1px ) to apply the styling to screensize below the desktop.
____________________________________________________________________________________

SCSS to CSS:

@include bp( maxMin, $desktop, 600px ) = 

@media only screen and ( max-width: 1280px ) and ( min-width: 600px ){
    content
}
____________________________________________________________________________________

@include bp( min, $phone ) = 

@media only screen and (min-width: 480px ){
    content
}
____________________________________________________________________________________

@include bp( max, 800px ) = 

@media only screen and ( max-width: 800px ){
    content
}

*/
