
// Colors
// ----------------------------------------

$black: #000;
$white: #fff;

$primaryColor: #00A3E3;

$bgDark: #222425;
$bgLight: #F7F7F7;


// Typography
// ----------------------------------------

// Fonts
$primaryFont:  'Akkurat', Helvetica, arial, sans-serif;
$primaryFontBold:  'Akkurat-bold', Helvetica, arial, sans-serif;
$primaryFontLight:  'Akkurat-light', Helvetica, arial, sans-serif;


// Size
$defaultFontSize: 1.6em;

// Linehight
$defaultLineHeight: 1.2;

// Selection colors
$selectionFontColor: $white;
$selectionBackgroundColor: $primaryColor;


// Sizes
// ----------------------------------------

$contentWidth: 1280px;