
// Colors
// ----------------------------------------

$black: #000;
$white: #fff;

$primaryColor: #00A3E3;


$dark:      #222425;
$mid:       #909090;
$light:     #ededed;


// Typography
// ----------------------------------------

// Fonts
$primaryFont:  'Akkurat', Helvetica, arial, sans-serif;
$primaryFontBold:  'Akkurat-bold', Helvetica, arial, sans-serif;
$primaryFontLight:  'Akkurat-light', Helvetica, arial, sans-serif;


// Size
$defaultFontSize: 1.6rem;

// Linehight
$defaultLineHeight: 1.5;


// Sizes
// ----------------------------------------

$contentWidth: 1320px;