upstream flask {
     server unix:///tmp/api.sock;
}

server {
        listen 0.0.0.0:8000;
        server_name 0.0.0.0;
        client_max_body_size 5M;
        location / {
                include uwsgi_params;
                uwsgi_pass flask;
        }       
}