#footer {
	width: 100%;
	padding: 4em;
	font-size: 2rem;
	font-family: $primaryFontLight;
	@include bp(max, $phone) {
		padding: 1em;
	}
}
#footer_text {
	width: 66%;
	@include bp(max, $phone) {
		width: 100%;
	}
	color: $white;
	margin-bottom: 4em;
	a {
		text-decoration: underline;
		&:hover {
			color: $primaryColor;
		}
	}
}

.footer_links {
	svg {
		fill: $primaryColor;
		height: 1em;
		width: 1em;
		position: relative;
		top: 4px;
		display: inline-block;
	}
	p {
		line-height: 2em;
	}
	.escience {
		margin-top: 1em;
	}
	a {
		color: $primaryColor;
		font-size: 1em;
		&:hover {
			text-decoration: underline;
		}
	}
}

#footer_logo {
	svg {
		fill: $white;
		width: auto;
		height: 23px;
		display: block; 
	}
	a:hover{

		svg{
			#block {
				fill: $primaryColor;
			}
		}
	}
}
