#layout_container{
	margin-bottom: 400px;
}
#footer{
	height: 400px;
}

#footer {
	width: 100%;
	font-size: 2rem;
	font-family: $primaryFontLight;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	
	display: flex;
	align-items: center;
}
#footer_text {

	width: 66%;
	@include bp(max, $phone) {
		width: 100%;
	}
	color: $white;
	margin-bottom: 3em;
	a {
		text-decoration: underline;
		&:hover {
			color: $primaryColor;
		}
	}
}

.footer_links {
	svg {
		fill: $primaryColor;
		height: 1em;
		width: 1em;
		position: relative;
		top: 4px;
		display: inline-block;
	}
	p {
		line-height: 2em;
	}
	.escience {
		margin-top: 1em;
	}
	a {
		color: $primaryColor;
		font-size: 1em;
		&:hover {
			color: $white;
		}
	}
}

#footer_logo {
	svg {
		fill: $white;
		width: auto;
		height: 23px;
		display: block; 
	}
	a:hover{

		svg{
			#block {
				fill: $primaryColor;
			}
		}
	}
}

@include bp(max, $tablet) {
	#layout_container{
		margin-bottom: 550px;
	}
	#footer{
		height: 550px;
		font-size: 1.8rem;
	}
}
