#header {
	width: 100%;

	.container:first-child{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-top: 1.5em;
		padding-bottom: 1.5em;

		>div:first-child {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}
	a:hover{
		color: $primaryColor;
	}
	.divider{
		margin-bottom: 0;
		margin-top: 0;
	}
}

#header_logo {
	
	svg {
		fill: $black;
		width: auto;
		height: 23px;
		display: block; 
	}

	a:hover{

		svg{
			#block {
				fill: $primaryColor;
			}
		}
	}
}

#header_text {
	font-family: $primaryFontLight;
    font-size: 2rem;
	@include bp(min, $phone) {
		margin-left: 1em;
	}
}

#header_links {
	text-align: right;
	a {
		display: inline-block;
		&:not(:first-child) {
			margin-left: 2em;
		}
	}
	@include bp(max, $phone) {
		text-align: left;
		margin-top: 1em;
		a:not(:first-child) { margin-left: 0}
	}

}

