body.beamer-mode{
    .bg-light{
        transition: background-color 0.3s ease;
        background-color: darken( $light, 7% );
    }
    .tags li.bg-light{
        background-color: darken( $light, 9% );
    }
}