body * {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html {
    font-size: 70%;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#main_content {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    padding: 1em;
}

* {
    box-sizing: border-box;
}