.index_title {
    font-size: 3em;
    text-align:center;
}
.search_bar {
    position:relative;
    float:top;
    margin-bottom:70px;
    width:100%;
}
.search_form {
    font-size:16pt;
    margin-left:30%
}
#input.search_form {
    width:500px;
    height: 30px;
    position:relative;
    float:left;
}
#submit.search_form{
    height: 30px;
    position: relative;
    float:left;
}
.search_results{
    position: relative;
    float: bottom;
    width: 100%;
    visibility:hidden;
}
.gems{
    width:200px;
    height:300px;
    border-style:solid;
    border-width: 1px;
    position:relative;
    float:left;
}
#data_gems.layout{
    margin-bottom:70px;
    position:relative; 
    float:left;
}
#data_display.layout{
    text-align:left;
}
#filter.layout{
    padding: 20px;
    position: relative;
    float: left;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    width:250px;
}
#box_1{
    width:100%;
    height:500px;
    position: relative;
    float:top;
    margin-top: 100px;
}
#box_2{
    width:100%;
    height:1000px;
    position: relative;
    float:top;
}