.index_title {
    font-size: 3em;
    text-align:center;
}
.search_bar {
    position:relative;
    float:top;
    margin-bottom:70px;
    width:100%;
}
.search_form {
    font-size:16pt;
}
#input.search_form {
    width:600px;
    height: 35px;
    position:relative;
    float:right;
}
#submit.search_form{
    height: 35px;
    position: relative;
    float:right;
    background-color: #000000;
    color: #FFFFFF
}
.search_results{
    position: relative;
    float: bottom;
    width: 100%;
    visibility:hidden;
}
.product{
    background-color: #dddddd;
    margin-left:20px;
    margin-top:15px;
    width:300px;
    height:250px;
    border-right-style:solid;
    border-right-width: 15px;
    border-right-color: white;  
    /*flex-grow: 0;
    flex-shrink: 0;*/
}
.product_thumb{
    width:300px;
    height:250px;    
}

#title_bar_left{
    position: relative;
    float: left;
    width: 100%;
    background-color: #32363d;
    padding-left:10px;
    margin-top:20px;
    margin-bottom:20px;
    color: #FFFFFF;
    font-size: 18pt;
    height: 27pt;
    vertical-align: center;
}

#title_bar_right{
    position: relative;
    float: right;
    width: 100%;
    background-color: #676a70;
    padding-right:10px;
    margin-top:20px;
    margin-bottom:20px;
    color: #FFFFFF;
    font-size: 18pt;
    height: 27pt;
    text-align:right;
    vertical-align: center;
}
.layout{
    overflow-x:none;
    overflow-y:none;
    max-width: 100%;
    margin-left:10pt;
    margin-bottom:30px;
    position:relative; 
    float:right;
    /*height:500px;*/    
    vertical-align: top;  
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content:flex-end;
    /*white-space:nowrap;*/
}
#filter{
    position: relative;
    float: left;
    text-align: left;
    padding-left:20px;
    padding-top: 20px;
    font-size: 15pt;
    width:100%;
    height:300px;
}
#box_1{
    margin-bottom:60px;
    width: 75%;
    position: relative;
    float: right;
}
#box_2a{
    width:25%;
    position: relative;
    float: left;
}
#box_2b{
    width:25%;
    position: relative;
    float: left;
}
#box_3{
    width:75%;
    height:1000px; 
    position: relative;
    float: right;       
}
