.index_title {
    font-size: 4em;
}
.search_bar {
    position:relative;
    float:top;
    margin-bottom:70px;
    width:100%;
}
.search_form {
    font-size:16pt;
    position:relative;
    float:top;
}
.search_form.input {
    width:500px;
    height: 30px;
}
.search_form.submit{
    height: 30px;
}
.search_results{
    position: relative;
    float: bottom;
    width: 100%;
    visibility:hidden;
}
.layout.filter{
    padding: 20px;
    position: relative;
    float: left;
    text-align: left;
    border-style: solid;
    border-width: 1px;
}