/* tags */

/* classes */
.name {
    font-size: 2em;
    padding-top: 20px;
}
.contributor {
    font-weight: bold;
}
.tagLine {
    font-style: italic;
    padding-top: 20px;
}
.codeRepository {
}
.website {
}
.downloadUrl {
}
.documentationUrl {
}
.technologyTag {
}
.involvedOrganization {
    margin: auto;
}
.float_container {
    height: 100px;
    width: 100%;
    margin: auto;
}
.float_item {
    position: relative;
    float: left;
    width: 33%;
    height: 50px;
    margin: 0px;;
    top: 15px;
}
.float_item img {
    max-width: 90%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.startDate {
}
.software_commitsPlot {
    height: 150px;
    width: 500px;
}
.description {
}
.description img {
    width: 300px;
}
.contactPerson {
}

.divider {
     border-top: 1px solid #dddddd;
     padding: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
}
.box {
	background-color: #dddddd;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}
.box_left {
    float: left;
	display: inline-block;
}
.box_right {
    float: right;
	display: inline-block;
}
.morecontent span {
    display: none;
}
.morelink {
	display: inline-block;
}

/* ids */