.software_name {
    font-size: 2em;
}
.software_tagLine {
    font-style: italic;
}
.software_codeRepository {
}
.software_website {
}
.software_downloadUrl {
}
.software_documentationUrl {
}
.software_technologyTag {
}
.software_involvedOrganization {
}
.software_startDate {
}
.software_description {
}
.software_description img {
    width: 300px;
}
.software_contactPerson {
}

#body {
	position: relative;
    margin: auto;
	width: 800px;
	padding: 20px
}