.name {
    font-size: 2em;
    padding-top: 20px;
}
.contributor {
    font-weight: bold;
}
.tagLine {
    font-style: italic;
    padding-top: 20px;
}
.codeRepository {
}
.website {
}
.downloadUrl {
}
.documentationUrl {
}
.technologyTag {
}
.involvedOrganization {
}
.startDate {
}
.description {
}
.description img {
    width: 300px;
}
.contactPerson {
}