{% if template_data.related.organizations %}
<section class="" id="collaborations">
    <div class="container">

        <div class="divider"></div>

        <div class="row">
            <div class="col-1-4">
                <h2 class="subtitle text-blue">In collaboration with</h2>
            </div>

            <div class="col-3-4 row contributing-organisations">
                {% for contributingOrganization in template_data.related.organizations %}
                {% set org = contributingOrganization.foreignKey %}
                <div class="organisation">
                {% if org.website %}
                    <a href="{{org.website}}" target="_blank">
                {% endif %}
                {% if organisation_logos[org.primaryKey.id] %}
                    <img src="{{url_for('static', filename='logos/'+organisation_logos[org.primaryKey.id])}}" alt="{{org.name}}">
                {% else %}
                    {{org.name}}
                {% endif %}
                {% if org.website %}
                    </a>
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
{% endif %}
