{% if template_data.related.mentions %}
<section class="bg-dark" id="mentions">
    <div class="container">

        <div class="row">
            <div class="col-1-4">
                <h2 class="subtitle">Mentions</h2>
            </div>

            <div class="col-3-4">

                {% if template_data.corporateBlogs %}
                <a href="{{template_data.corporateBlogs[0].url}}" target="_blank" class="mention_blog-post row">
                    <div class="image-container">
                        <img src="{{ template_data.corporateBlogs[0].image }}">
                    </div>
                    <div class="data">

                        <h3 class="title">{{ template_data.corporateBlogs[0].title }}</h3>
                        <p class="author">By {{ template_data.corporateBlogs[0].author }}</p>
                        <p class="date">{{ template_data.corporateBlogs[0]['datetime'] | human_date_filter }}</p>

                        <div class="visit-blog text-underline">Visit our blog</div>
                    </div>
                </a>
                {% endif %}

                <div class="divider"></div>

                {% for key, value in template_data.mentions.items() %}
                <div class="mention">
                    <div class="mention_button">
                        <h3>
                            <span class="amount">{{value|length}}</span>
                            {% if key in mention_types %}
                            <span class="category">{{mention_types[key].singular if value|length == 1 else mention_types[key].plural}}</span>
                            {% else %}
                            <span class="category">{{key}}</span>
                            {% endif%}
                        </h3>
                        <svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-plus"></use></svg>
                    </div>
                    <div class="mention_list" style="height: 0">
                        <ul>
                        {% for item in value %}
                            <li>
                            {% if item.data.url %}

                            <a class="mention_content" href="{{item.data.url}}" target="_blank">
                                <div class="mention_title">{{item.data.title}} <svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-external"></use></svg></div>

                                <div class="mention_post-date">{{item.data.date}}</div>
                            </a>

                            {% else %}
                            <div class="mention_content">
                                <div class="mention_title">{{item.data.title}}</div>
                                <div class="mention_post-date">{{item.data.date}}</div>
                            </div>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div class="divider"></div>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>
</section>
{% endif %}