{% if false %}
{% if template_data.related.projects | no_none_filter %}
<section class="" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-1-4">
                <h2 class="subtitle text-blue">Projects with {{template_data.name}}</h2>
            </div>
            <div class="col-3-4">
                {% if template_data.testimonial %}
                <div class="testimonial">
                    <blockquote>
                    {{template_data.testimonial}}
                    </blockquote>
                </div>

                <div class="testimonialby">
                    – {{template_data.testimonialBy}}
                </div>
                {% endif %}

                <div class="row project-items">

                    {% for project in template_data.related.projects | no_none_filter %}
                    <article class="project-item col-1-2">
                        <a href="{{project.url}}" target="_blank">
                            <div class="content">
                                <div class="thumb"><img src="{{project.image}}" alt=""></div>
                                <div class="text">
                                    <h2 class="text-blue">
                                        {{project.title}}
                                    </h2>
                                    <p>
                                        {{project.subtitle}}
                                    </p>
                                    <div class="author">
                                        <div class="author_name">
                                            {{(project.team | pick_pi_filter).name}}
                                        </div>
                                        <div class="author_university">
                                            {{(project.team | pick_pi_filter).affiliation}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}
