{% if template_data.related.software %}
<section class="" id="related-tools">
    <div class="container">
        <div class="row">
            <div class="col-1-4">
                <h2 class="subtitle text-blue">Related tools</h2>
            </div>
            <div class="col-3-4">
                <div id="software_list">
                    <div class="software_list_wrap">

                        {% for tool in template_data.related.software %}
                        <a href="/software/{{tool.foreignKey.primaryKey.id}}" class="software_item bg-light">
                            <div class="code">{{tool.foreignKey.brandName | brand_code_filter }}</div>
                            <h2 class="name">{{tool.foreignKey.brandName}}</h2>
                            <p class="short">{{tool.foreignKey.shortStatement}}</p>
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}