{% extends "layout_template.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block title %}
About
{% endblock %}
{% block content %}
{% block about_rsd %}
{% endblock %}
<div class="textPage container">
    <h1>Encouraging the re-use of research software</h1>
    <p class="subtitle">The Research Software Directory is an initiative by the Netherlands eScience Center. It is an
        exhibition space for
        research software to encourage its re-use.</p>
    <h2>The importance of software for research</h2>
    <p>Where would today’s research be without software?</p>
    <p>It would be hard for climate scientists to model the future of our natural environment. It would be impossible
        for
        astronomers and physicists to process the huge amounts of data gathered by radio telescopes and particle
        colliders.
        Sociologists would have a hard time to capitalize on the potential of all the social data available these days
        to
        get a better understanding of human behavior. And biologists would most likely still rely solely on field work
        to
        study animal behavior.
        In short, most of today’s research projects would be impossible without software.
        It has become a fundamental aspect of doing research.
        Many research teams are nowadays developing and applying their own software.
    </p>
    <h2>Encouraging researchers to re-use software</h2>
    <p>However, in the academic world, most software is developed quickly to solve one-off problems.
        This usually leads to software that is not sustainable or usable beyond a single project.
        In many cases the software is hard for other researchers to read and understand, and often lacks documentation –
        making it difficult to re-use.
    </p>
    <p>
        There is growing recognition from the academic community that sustainable software development requires more
        attention.
        Re-usability requires more than sustainable software development.
        It requires an encouragement strategy.
        We try to encourage the re-use of research software via three ways:
    <ol>
        <li> Facilitating potential users to explore our software and quickly grasp its relevance and quality.</li>
        <li> Making it easy to cite the use of research software in publications, increasing its visibility and value
            for
            the academic community.
        </li>
        <li>Facilitate other organizations to set up their own, but nationally and internationally connected, research
            software directory.
        </li>
    </ol>
    </p>
    <p>
        Our ambition is to establish and connect many research software directories to make them searchable.
    </p>
    <h2>The RSD Concept - not another archive website</h2>
    <p>The Research Software Directory is not just another software archive website but gives insight into what software
        may be valuable for your research.
        There is no universal way to quantify software value, therefore a set of value indicators is reported:
    <ul>
        <li>A (jargon-free) short software statement</li>
        <li>An overview of publications and other public sources that refer to the software</li>
        <li>Recent updates to the software</li>
        <li>Testimonials by end-users</li>
        <li>Research collaborations in which we have developed and used the software ourselves.</li>
    </ul>
    </p>
    <p>
        To software developers, the research software directory offers a platform to exhibit their software for viewing
        by researchers and funders.
    </p>
    <h2>Read more</h2>
    <ul>
        <li>Blog Vincent</li>
        <li>Software Development Guide</li>
        <li>KB Lab</li>
        <li>CIT Groningen</li>
        <li>Software Sustainability Institute</li>
    </ul>
</div>
{% endblock %}
