{% extends "layout_template.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block title %}
About
{% endblock %}
{% block content %}
{% block about_rsd %}
{% endblock %}
<div class="textPage container">
<div id="about" class="container col-1-2">

    <h1>Encouraging the re-use of research software</h1>

        <p>
        Much of modern day science would not be possible without the use of
        computers, and as a result, many scientists spend a significant part of
        their time writing code. During the past 5 years or so since the
        Netherlands eScience Center first started working with scientists, some
        patterns related to research software have emerged.
        </p>

        <p>
        For example, research software often contains components that are quite
        generic in their application. To give you some idea, this may include
        components to draw certain types of linked plots, or to connect to a
        cluster computer located elsewhere, or to let a computer program take
        some of its inputs from the command line. Indeed, one may ask why such
        components are being developed in research programs?
        </p>

<!--
        we see relatively little re-use of such components
        so why arent these components used by other scientists
 -->

    <h2>On finding software</h2>

        <p>
        Apart from technical reasons relating to engineering quality of research
        software, the most important reason is that it is difficult to
        successfully search for software. Scientists, like most people these
        days, depend on search engines whenever they are looking for information
        on something. However, when looking for software, that approach is
        fraught with confusion and frustration. Sure, if you know the name of
        something, Googling it is easy enough, but what if you don't know what
        the right keywords are? For the examples above, most researchers
        probably don't know to search for <i>trellis plots</i> and
        <i>brushing</i> when looking for linked plots. Similarly, they would not
        know that the type of component used to connect to a cluster goes by the
        ill-chosen name of <i>middleware</i>, and that a computer program can
        read its inputs from the command line by way of an <i>argument
        parser</i>.
        </p>

        <p>
        Search engines do not 'understand' software repositories like GitHub,
        SourceForge, or BitBucket
        </p>

        <p>
        Even if you happen to know what keywords to search for, the sites listed
        in the search results typically do not answer questions like "What can
        this tool do for me?", "Where do I go to get started?", "Are other
        people in my field using it and what are they using it for?"'
        </p>

<!--
        This is what the Research Software Directory aims to solve
        Not only for ourselves, but for everybody (see below)
 -->

    <h2>Visible impact</h2>

        <p>
        Funders want to steer on creating the most impact, but they have very
        little information to go on. The Research Software Directory makes
        transparent what the impact of software is.
        </p>

        <!-- scientists developing new ideas -->

<!--
    <h2>Vision</h2>

        technical: APIs
        content: instructions
        <p>
        We envision a federated system of Research Software Directories, where
        any organization can have its own.
        </p>
 -->
</div>
{% endblock %}
