<div id="header">
    <div class="container">
        <div>
            <div id="header_logo">
                <a href="https://www.esciencecenter.nl" target="_blank">
                    {% include 'logo.html' %}
                </a>
            </div>
            <div id="header_text">
                <a href="/">research software directory</a>
            </div>
        </div>

        <div id="header_links">
            <a href="/">Find software</a>
            <a href="/about">About the directory</a>
        </div>
    </div>
</div>