{% extends "layout_template.html" %}
{% block head %}
{{super()}}
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/index_style.css')}}"> -->
<script type="text/javascript" src="/dynamic/data.js"></script>
{% endblock %}
{% block title %}
Browse All Software
{% endblock %}
{% block content %}
<div id="content">
  <div class="search_bar">
      <form id="search" action="">
          <input type='text' v-model="filter.search" class="search_form" id="input" placeholder="Search for software, people, technologies, etc.">
          <input type="button" class="search_form" id="submit" value="search" >
          <input type="button" @click="filter.search = ''" class="search_form" id="reset" value="reset" >
      </form>
  </div>
  <div class="col-3">
    <div class="left">
      <div id="filters">
        <div>Filter</div>
        <div>
          <form id="filter_form" >
            <span v-for="tag in tags">
              <input type="checkbox" :value="tag" v-model="filter.tags" /><span class="checkboxtext"><b>[[tag]]</b></span><br>
            </span>
          </form>
        </div>
      </div>
    </div>
    <div class="right">
      <div id="software_list">
        <a v-for="sw in software" :href="'/software/' + sw.id">
          <h1>[[sw.name]]</h1>
          <div class="code">[[sw.code]]</div>
          <p>[[sw.tagLine]]</p>
          <i>[[sw.lastUpdateAgo]]</i>
        </a>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" crossorigin="anonymous"></script>
  <script>
    var v = new Vue({
      el: '#content',
      delimiters: ["[[", "]]"],
      data: {
        tags: [
          'highlights',
          'big data',
          'cloud computing',
          'image processing',
          'visualisation',
          'text analysis',
          'realtime data analysis',
          'interoperability and linked data'
        ],
        software: {{ data_json }},
        filter: {
          search: '',
          tags: []
        }
      },
      computed: {
        filtered_software: function() {
          var self = this;
          this.software.filter( function(s) {
            var match = false;
            s.tags.map((tag) => tag.toLowerCase()).forEach(function(tag) {
              if (tag in self.filter.tags) {
                console.log(tag);
                match = true;
              }
            });
            return match;
          });
        }
      },
      watch: {
        filter: {
          handler: console.log,
          deep: true
        }
      }
    });
  </script>
</div>
{% endblock %}
