<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index_style.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='common_style.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='software_style.css')}}">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <title>NLeSC | All Software</title>


    <script type="text/javascript" src="/dynamic/data.js"></script>

</head>
<body>

    <div id="header">
        <div id="header_logo">
            <a href="https://www.esciencecenter.nl" target="_blank">
                <img src="{{url_for('static', filename='logos/nlesc.png')}}">
            </a>
        </div>
        <div id="header_text">
            Research Software Directory
        </div>
        <div id="header_links">
            <a href="/">Find software</a>
            <a href="/">About the platform</a>
        </div>
    </div>

<div class="search_bar">
    <form id="search" action="">
        <input type='text' class="search_form" id="input" value="Search for software, people, technologies, etc.">
        <input type="submit" class="search_form" id="submit" value="search" >
    </form>
</div>

<div class="search_results">
</div>

<div id="box_1">
 <div id="title_bar_right">Highlights</div>
 <div class="layout" id="data_gems"></div>
</div>

<div id="box_2">
  <div id="title_bar_left">Filter</div>
  <div id="filter">
    <input type="checkbox">Big data</input><br>
    <input type="checkbox">Cloud computing</input><br>
    <input type="checkbox">Image processing</input><br>
    <input type="checkbox">Visualisation</input><br>
    <input type="checkbox">Text analysis and NLP</input><br>
    <input type="checkbox">Real time data analysis</input><br>
    <input type="checkbox">Interoperability and linked data</input>
  </div>
</div>

<div id="box_3"> 
  <div id="title_bar_right"></div>  
  <div class="layout" id="data_display">   
  </div>
</div>


<script language="Javascript">
    function search_algo(dict, search_key){
      for (var term in dict['discipline']){
        if (term.indexOf(search_key) !== -1){
            return true
        }
      }
      for (var term in dict['expertise']){
        if (term.indexOf(search_key) !== -1){
            return true
        }
      }
      if (dict['tagLine'].indexOf(search_key)!==-1){
        return true
      }
    }

     $("#input").on("click", function(){
        if($("#input").val()=="Search for software, people, technologies, etc."){
          $("#input").val("")
        }    
     });


     $(document).ready(function(){
        // fill gems div        
        for (var i = 0; i < ALL_DATA.length; i++){
          var toolTipText = '<b>'+ALL_DATA[i]['name']+'</b><br><br>'+ALL_DATA[i]['tagLine']+'<br><br>Commits : '+ALL_DATA[i]['commits']+'<br> Mentions : '+ALL_DATA[i]['mentions'];
          var appendHtml = "<div class='product' id="+i+"><a href='/software/"+ALL_DATA[i]['id']+"'><img class='product_thumb' data-placement='left' data-toggle='tooltip' data-html='true' title='" + toolTipText + "' src='static/images/thumb_default.jpg'></img></a></div>";
          if (ALL_DATA[i]['highlighted']) {
            $("#data_gems").append(appendHtml) // name, tagline, mentions, commits
          } else {
            $("#data_display").append(appendHtml) // name, tagline, mentions, commits
          }
            
        }

        // a
        // activate Bootstrap4 on the tooltips
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
     });

     $("#search").submit(function (event){
        event.preventDefault(); 
        console.log("Search query:",search.input.value)
        $(".search_results").empty()
        results_list = "<ul>"
        for (var i = 0; i <ALL_DATA.length; i++){
            hit = search_algo(ALL_DATA[i], search.input.value)
            if(hit==true){
              results_list += "<li>Commits:"+ALL_DATA[i]['commits']+" Name:"+ ALL_DATA[i]['name']+" Tagline:"+ ALL_DATA[i]['tagLine']+"</li>"              
            }
        }
        results_list+= "</ul>"
        $(".search_results").append(results_list)
        $(".search_results").css("visibility", "visible")
      });
</script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>