<!doctype html>
<html>
    <head>
    <style>
        html, body {
            height: 100%;
        }
        #container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            height: 50%;
        }
        img:hover {
            filter: brightness(200%);
            cursor: pointer;
        }
        iframe {
            display: none;
            height: 50%;
            width: 50%;
        }
    </style>
    </head>
    <body>
        <div id="container">
            <img id="button" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Red_button.png"/>
            <iframe id="iframe"></iframe>
        </div>
    <script>
        iframe = document.getElementById('iframe');
        button = document.getElementById('button')
        button.addEventListener('click', function(e) {
            iframe.src="https://www.youtube.com/embed/AArEdqZEZUs?autoplay=1&showinfo=0&controls=0";
            iframe.style.display = 'block';
            button.style.display = 'none';
            window.setTimeout(function() {
                window.location = '/';
            }, 5000);
        });
    </script>
    </body>

</html>
