<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Research Software Directory | {% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="INDEX,FOLLOW" />
            <link rel="shortcut icon" href="/static/favicon.ico"/>
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/rsd.css')}}">

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111275282-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-111275282-1');
            </script>
        {% endblock %}
    </head>

    <body>
        <svg style="position: absolute; width: 0; height: 0; overflow: hidden;"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}"></use></svg>
        <div id="layout_container">
            <div id="header">
                <div class="container">
                    <div>
                        <div id="header_logo">
                            <a href="https://www.esciencecenter.nl" target="_blank">
                                {% include 'logo.html' %}
                            </a>
                        </div>
                        <div id="header_text">
                            {% block rsd_home %}
                            <a href="/">research software directory</a>
                            {% endblock %}
                        </div>
                    </div>

                    <div id="header_links">
                        {% block find_software %}
                        <a href="/">Find software</a>
                        {% endblock %}
                        {% block about_rsd %}
                        <a href="/about">About the directory</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div id="body">
                {% block content %}{% endblock %}
            </div>
            {% include 'footer_template.html' %}
        </div>
    </body>
</html>

