
// Colors
// ----------------------------------------

$black: #000;
$white: #fff;


$primaryColor: #16a9bf;

$dark:      #252525;
$mid:       #909090;
$light:     #eee;
$divider:   #ddd;


// Typography
// ----------------------------------------

// Fonts
$primaryFont:  'Raleway-Regular', Helvetica, arial, sans-serif;
$primaryFontBold:  'Raleway-Bold', Helvetica, arial, sans-serif;
$primaryFontLight:  'Raleway-Light', Helvetica, arial, sans-serif;


// Size
$defaultFontSize: 1.6rem;

// Linehight
$defaultLineHeight: 1.5;


// Sizes
// ----------------------------------------

$contentWidth: 1320px;