
// Colors
// ----------------------------------------

$black: #000;
$white: #fff;

$primaryColor: #00A3E3;

$dark:      #222425;
$mid:       #909090;
$light:     #eee;
$divider:   #ddd;


// Typography
// ----------------------------------------

// Fonts
$primaryFontBold:  'Roboto Bold', Helvetica, arial, sans-serif;
$primaryFont:  'Roboto Regular', Helvetica, arial, sans-serif;
$primaryFontLight:  'Roboto Light', Helvetica, arial, sans-serif;


// Size
$defaultFontSize: 1.6rem;

// Linehight
$defaultLineHeight: 1.5;


// Sizes
// ----------------------------------------

$contentWidth: 1320px;