<!DOCTYPE html>
<html lang="en">
    <head>
        {%- block head -%}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="INDEX,FOLLOW" />
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/rsd.scss.css')}}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111275282-1"></script>
        {%- endblock -%}
    </head>

    <body>
        <svg style="position: absolute; width: 0; height: 0; overflow: hidden;"><use href="{{url_for('static', filename='icons/icons.svg')}}"></use></svg>

        <div id="layout_container">
            <header id="header">
                <div class="container">
                    
                    <div id="header_left">
                        {% block corporate_home %}
                        <a href="https://www.esciencecenter.nl">
                            {% with position="header" %}
                            {% include 'logo.html' %}
                            {% endwith %}
                        </a>
                        {% endblock %}
                        {% block find_software %}
                        <a href="/">Search the directory</a>
                        {% endblock %}
                    </div>

                    <div id="header_right">

                        {% block projects %}
                        <a href="/projects">Projects</a>
                        {% endblock %}

                        {% block metrics %}
                        <a href="/graphs">Metrics</a>
                        {% endblock %}

                        {% block about_rsd %}
                        <a href="/about">About</a>
                        {% endblock %}

                    </div>

                </div>
                <div class="container">
                    <div class="divider"></div>    
                </div>
            </header>
            <div id="body" style="background-color:white;">
                {%- block content -%}{%- endblock -%}
            </div>
            {% include 'footer_template.html' %}
        </div>
    </body>
</html>

