// Bold
@font-face {
    font-family: "RobotoCondensedBold";
    src: url('fonts/roboto-condensed/RobotoCondensed-Regular.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Regular
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url('fonts/roboto-condensed/RobotoCondensed-Light.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Light
@font-face {
    font-family: "RobotoCondensedLight";
    src: url('fonts/roboto-condensed/RobotoCondensed-Light.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}
