// Raleway Bold
// ----------------------------------------
@font-face {
    font-family: "Raleway-Bold";
    
    src: url('fonts/raleway/Raleway-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

// Raleway Regular
// ----------------------------------------
@font-face {
    font-family: "Raleway-Regular";
    
    src: url('fonts/raleway/Raleway-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;     
}

// Raleway Light
// ----------------------------------------
@font-face {
    font-family: "Raleway-Light";
    
    src: url('fonts/raleway/Raleway-Light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;  
}