/* tags */
body {
    font-family: $primaryFont;
    font-size: $defaultFontSize;
    line-height: $defaultLineHeight;
    -webkit-font-smoothing: antialiased;    

    background-color: $white;
    color: $dark;
}

::selection{
    color: $white;
    background: $primaryColor;
}
::-moz-selection{
    color: $white;
    background: $primaryColor;
}

.icon{
    display:block;
    color: inherit;
    fill: currentColor;
}

/* ids */
#layout_container {
	height: 100%;
    min-height: 100%;
    position: relative;
    background-color: $white;
}

section{
    display: block;
}
.bg-dark{
    background-color: $dark;
    color: $white;
}

.bg-light{
    background-color: $light;
}

.divider {
    border-top: 1px solid $divider;
    padding: 0px;
    margin-bottom: 25px;
}

.container{
    // position: relative;
    // display: inline-block;
    width: 100%;
    max-width: $contentWidth;
    margin: 0 auto;
    padding: 0 40px;

    @include bp(max, $tablet){
        padding: 0 6vw;
    }
    // &--flex{
    //     display: flex;
    // }
}


.row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-end{
        justify-content: flex-end;
    }
}


// Columns
// -------------------------------


.col-1-4{
    width: 25%;

    @include bp(max, $tablet){
        width: 100%;
    }
}

.col-3-4{
    width: 75%;

    @include bp(max, $tablet){
        width: 100%;
    }
}

.col-1-3{
    width: 33.3%;

    @include bp(max, $tablet){
        width: 100%;
    }
}

.col-2-3{
    width: 66.6%;

    @include bp(max, $tablet){
        width: 100%;
    }
}

.col-1-2 {
    width: 50%;
    @include bp(max, $tablet){
        width: 100%;
    }
}

.col-1-1 {
    width: 100%;
    @include bp(max, $tablet){
        width: 100%;
    }
}




.gradient{
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    
    &--gray{
        background: linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 95%,rgba(238,238,238,1) 100%);
    }
}
