.textPage {
  h1 {
    font-size: 4rem;
    margin-top: .5em;
    margin-bottom: 1em;
  }
  h2 {
    color: $primaryColor;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  p {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  ul {
    list-style: inside;
  }
  ol {
    list-style: decimal inside;
  }

  margin-bottom: 2em;
}
