[v-cloak] {
  display: none !important;
}

#overview {
  margin-top: 3em;
}

#intro_text {
  font-family: $primaryFontLight;
  font-size: 2.4rem;
  padding-top: 1.5em;
  padding-bottom: 1.8em;
  width: 100%;
  max-width: 860px;
  a {
    font-family: $primaryFontBold;
    text-decoration: underline;
    &:hover {
      color: $primaryColor;
    }
  }
}

#search_bar {
  line-height: 6rem;
  margin: 4em 0;
  >.left {
    height: 100%;
    color: $primaryColor;
    font-family: $primaryFontLight;
    font-size: 3rem;
  }
  >.right {
    height: 6rem;
    font-size: 1.8rem;
    @include bp(max, $tablet){
      font-size: 1.2rem;
    }
    display: flex;
    input[type="text"] {
      font-size: inherit;
      padding-left: 1em;
      padding-right: 1em;
      height: 100%;
      background-color: $light;
      border: none;
      display: inline-block;
      vertical-align: middle;
      flex: 1;
    }
    input[type="button"] {
      font-size: inherit;
      color: $white;
      padding-left: 2em;
      padding-right: 2em;
      height: 100%;
      background-color: $black;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $primaryColor;

      }
    }
  }
}



#sorter {
  width: 100%;
  line-height: 2.5em;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2em;
  label {
    font-family: $primaryFontBold;
    margin-right: 1em;
  }
  select {
    min-width: 250px;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    background-color: white;
  }
}

#software_list {
  display: flex;
  flex-wrap: wrap;

  .software_item {
    overflow: hidden;
    position:relative;
    min-height: 300px;
    width: 50%;
    padding: 1em;
    border: 1px solid white;
    background-color: $light;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    
    &:hover {
      background-color: $primaryColor;
      color:white;
    }
    
    &.highlighted {
      background-color: $primaryColor;
      color:white;

      &:hover {
        background-color: $dark;
      }
    }

    .name {
      font-size: 2.4rem;
      height: auto;
      min-height: 3em;
      flex-shrink: 0;
      
    }
    .short{
      flex-shrink: 0;
      padding: 1em 0 1.3em;
    }
    .name, .short{
      width: calc(100% - 70px);
      padding-right: 5px;
    }
    .sortByText {
      margin-top: auto;
      font-size: 1.4rem;
    }

    .code {
      position: absolute;
      top: 0;
      right: 0;
      width:70px;
      height:70px;
      font-size: 2.4rem;
      font-family: $primaryFontLight;
      color: $black;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon {
      height: 2.5rem;
      width: 2.5rem;
      position: relative;
      top: 0.5rem;
      left: 0.5rem;
      display: inline-block;
    }

    // .software-item
    @include bp( max, $tablet ){
      .name, .short{
        width: calc(100% - 60px);
      }
    }

    @include bp( max, $phablet + 100px ){
      width: 100%;
      .code {
        width:60px;
        height:60px;
      }
      .name {
        min-height: 2.5em;
      }
      
    }

  }
}

.pagination {

  margin: 3.5em 0 5.5em;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;

  span {
    margin: 0 1px;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    &:hover:not(.active):not(.gap) {
      background-color: $primaryColor;
      cursor: pointer;
    }
    &.active {
      background-color: $black;
      color: $white;
    }
  }
}


#filters {
  margin-bottom: 50px;

  .filter-title{
    font-family: $primaryFontBold;
    padding-bottom: 0.7em;
  }

  .filter-list{
    padding-right: 20px;

    &:not(:last-child){
      margin-bottom: 2.5em;
    }
  }

  li{
    padding: 0.2em 0;
  }
  .more-filters{
    display: flex;
    align-items: center;
    .icon{
      display: block;
      position: relative;
      width: 1em;
      height: 1em;
    }
  }
}


#escience_blog {
  padding: 80px 0;
  
  .blog_post-list{
    margin: 0 -10px;
  }

  .blog_post {
    width: 50%;
    padding: 10px;

    &:not(:last-child){
      margin-bottom: 20px;
    }

    .author{
      font-size: 1.4rem;
      padding: 0.3em 0 0.8em;
    }

    .title {
      font-family: $primaryFontLight;
      font-size: 2.4rem;
      line-height: 1.3;

      @include bp(max, $phablet){
        font-size: 2rem;
      }

    }

    &:hover {
      .title {
        color: $primaryColor;
      }
      img{
        transform: scale(1.03);
      }
    }

    .image-container{
      overflow: hidden;
      height: 260px;
      margin-bottom: 15px;
    }

    img{
      transition: transform 0.27s ease-in-out;
      overflow: hidden;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include bp(max, $phablet){
      width: 100%;

      .image-container{
        height: 220px;
      }

    }

  }

  @include bp(max, $tablet){
    padding: 60px 0;
  }
}



#latest_mentions {

  padding: 70px 0;

  ul {
    > li {
      background-color: $light;
      margin-bottom: 5px;
      padding: 1.8em 1.3em 1.5em;
    }
  }

  .mention_title{
    font-family: $primaryFontBold;
  }
  .mention_location, .mention_date{
    font-family: $primaryFontLight;
  }

  .mention_info {
    width: 75%;
  }
  
  .mention_date {
    flex-shrink: 0;
    width: 25%;
    text-align: right;
  }

  @include bp(max, $tablet){
    padding: 50px 0;
    
    .mention_info, .mention_date{
      width: 100%;
      text-align: left;
    }
    .mention_date{
      padding-top: 1em;
      font-size: 1.4rem;
    }
  
  }

}