[v-cloak] {
  display: none !important;
}

#overview {
  margin-top: 3em;
}

#intro_text {
  font-family: $primaryFontLight;
  font-size: 2.5rem;
  padding-top: 1.5em;
  padding-bottom: 0.8em;
  max-width: 70%;
  a {
    font-family: $primaryFontBold;
    text-decoration: underline;
    &:hover {
      color: $primaryColor;
    }
  }
}

#search_bar {
  line-height: 6rem;
  margin-bottom: 2em;
  >.left {
    height: 100%;
    color: $primaryColor;
    font-family: $primaryFontLight;
    font-size: 3rem;
  }
  >.right {
    height: 6rem;
    font-size: 1.8rem;
    @include bp(max, $tablet){
      font-size: 1.2rem;
    }
    display: flex;
    input[type="text"] {
      font-size: inherit;
      padding-left: 1em;
      padding-right: 1em;
      height: 100%;
      background-color: $light;
      border: none;
      display: inline-block;
      vertical-align: middle;
      flex: 1;
    }
    input[type="button"] {
      font-size: inherit;
      color: $white;
      padding-left: 2em;
      padding-right: 2em;
      height: 100%;
      background-color: $black;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $primaryColor;

      }
    }
  }
}



#sorter {
  width: 100%;
  line-height: 2.5em;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2em;
  label {
    font-family: $primaryFontBold;
    margin-right: 1em;
  }
  select {
    min-width: 250px;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    background-color: white;
  }


}

#software_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  > a {
    position:relative;
    height: 300px;
    width: 50%;
    @include bp(max, $phone){
      width: 100%;
      .name {
        font-size: 2rem !important;
      }
    }
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid white;
    background-color: $light;
    &:hover {
      background-color: $primaryColor;
      color:white;
    }
    &.highlighted {
      background-color: $primaryColor;
      color:white;
      &:hover {
        background-color: $dark;
        color:white;
      }
    }
    .name {
      font-size: 3rem;
      display: block;
      padding-right: 50px;
    }
    .lastUpdated {
      font-size: 1.2rem;
    }
    .code {
      position: absolute;
      top: 0;
      right: 0;
      width:50px;
      height:50px;
      font-size: 2rem;
      font-family: $primaryFontLight;
      color: $black;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.pagination {
  margin-top: 1em;
  margin-bottom: 2em;
  display:flex;
  align-items: center;
  justify-content: center;

  span {
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    &:hover:not(.active):not(.gap) {
      background-color: $primaryColor;
      cursor: pointer;
    }
    &.active {
      background-color: $black;
      color: $white;
    }
  }
}


#filters {

  .filter-title{
    font-family: $primaryFontBold;
    padding-bottom: 1em;
  }
  li{
    padding: 0.25em 0;
  }
}

#escience_blog {
  padding: 4em !important;
  .blog_post {
    padding: 1em;
    display: block;
    .title {
      font-size: 2rem;
    }
    &:hover {
      .title {
        text-decoration: underline;
      }
    }
    img {
      overflow: hidden;
      object-fit: cover;
      width: 100%;
      height: 300px;
    }
  }
}

#latest_mentions {
  margin-top: 2em;
  margin-bottom: 2em;
  ul {
    margin: 0;
    padding: 0;
    > li {
      background-color: $light;
      margin-bottom: 4px;
      display: flex;
      min-height: 100px;
      align-items: center;
      justify-content: center;
      padding: 1em;
      > div:first-child {
        width: 75%;
      }
      > div:last-child {
        width: 25%;
        text-align: right;
      }
    }
  }
}