
// Introduction
// -----------------------------------

#introduction{

    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row{
        justify-content: space-between;
    }

    .col-3-4{
        max-width: 860px;
    }
    
}

.name {
    font-size: 6.4rem;
}

.by, .contributingOrganizationJoin {
    font-size: 1.5rem;
    line-height: 1.5;
}

.shortStatement {
    font-family: $primaryFontLight;
    font-size: 3rem;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
}

.readMore {
    >.readMoreContents {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 1s;
        p {
            margin-top: .5em;
            margin-bottom: .5em;
        }
    }
    &.active>.readMoreContents {
        max-height: 500px;
    }
    >a {
        text-decoration:underline;
        cursor:pointer;
    }
}

.highlight-data{
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    
    @include bp(max, $tablet){
        justify-content: space-around;
    }

    .data{
        padding: 10px 25px;
        text-align: center;
    
        .num{
            font-family: $primaryFontLight;
            font-size: 5.4rem;
            color: $primaryColor;
        }
    }
}




// Get Started
// -----------------------------------

#get-started{
    .container{
        padding-top: 50px;
        padding-bottom: 115px;
    }
    // margin-bottom: 65px;
}


// Cite this
// -----------------------------------

#cite-this{
    // outline: 3px solid red;
    .row{
        transform: translateY(-65px); 
        padding: 40px 80px;
        color: $white;
        background-color: $dark;
        justify-content: space-between;
    }
    .citation_list {
        background-color: $white;
        color: $black;
        border: 1px solid $primaryColor;
        display: none;
        position: absolute;
        li>a {
            padding: 1em;
            display: block;
            &:hover {
                background-color: $primaryColor;
                color: $white;
            }
        }

        &.active {
            display: block;
        }
    }
}


// About
// -----------------------------------

#about{

    .container{
        // padding-top: 50px;
        padding-bottom: 50px;
    }

    .row{
        justify-content: space-between;
    }
    .col-3-4{
        max-width: 860px;
    }
}
.statement{
    h2{
        padding-bottom: 0.3em;
    }

    ul{
        padding-left: 1.5em;
        list-style-type: disc;
        li{
            padding: 0.45em 1em;
            
            ul{
               list-style-type: circle;
            }
        }
    }

    ol{
        padding-left: 1.5em;
        list-style-type: decimal;
        li{
            padding: 0.45em 1em;

            ul{
                list-style-type: circle;
            }
        }
    }
}

.specifications{

   

    .icon{
        width: 17px;
        height: 17px;
        fill: currentColor;
        
    }
    h5{
        display: flex;
        align-items: center;
        color: $primaryColor;
        padding: 2em 0 0.5em;

        .icon{
            margin-right: 0.5em;
        }
    }
    .tags{
        margin-left: -2px;
        display: flex;
        flex-wrap: wrap;

        li{
            margin: 2px;
            padding: 0.5em 0.8em 0.6em 0.8em;  
            background-color: darken( $light, 1% );
        }
    }
}


// Collaborations
// -----------------------------------

#collaborations{
    
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }

}
.contributing-organisations{
    align-items: center;

    .organisation{
        flex-basis: 25%;
        flex-shrink: 0;

        img{
            max-width: 90%;
            max-height: 100%;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    }
}


// Mentions
// -----------------------------------

#mentions{
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .divider{
        border-top: 1px solid $white;
        opacity: 0.25;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.mention{
    .mention_button{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon{
            width: 18px;
            height: 18px;
            fill: $primaryColor;

            transition: 0.3s ease-in;
            polygon{
                transition: 0.2s ease-in;
            }
        }
        &.active{
            .icon{
                width: 18px;
                height: 18px;
                fill: $primaryColor;

                transform: rotate(135deg);
            }        
        }
    }

    h3{
        font-size: 2rem;
        display: flex;
        align-items: center;

        .amount{
            font-family: $primaryFontBold;
            font-size: 0.9em;
            border-radius: 50%;
            width: 1.5em;
            height: 1.5em;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $primaryColor;
            color: $dark;
            margin-right: 0.8em;
            
        }
    }

    .mention_text{
        margin: 1em 0;
        
        li{
            background-color: lighten( $dark, 10% );
            padding: 1em;
            
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
        a:hover{
            color: $primaryColor;
        }

    }

    .icon{
        margin-left: 0.5em;
        width: 0.8em;
        height: 0.8em;
        display: inline-block;
        fill: currentColor;
    }

}

// Projects
// -----------------------------------

#projects{
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.testimonial {
    background-color: $primaryColor;
    padding: 2.25em;
    position: relative;
    blockquote {
        color: $white;
        font-family: $primaryFontLight;
        font-size: 1.5em;
        &:before {
            content: '\201C';
        }
        &:after {
            content: '\201D';
        }
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        border: 0 solid transparent;
        position: absolute;
        left: 72px;
        top: 100%;
        border-top-width: 0;
        border-bottom-width: 24px;
        border-right: 16px solid $primaryColor;
    }
}
.testimonialby {
    margin: 20px 0;
    padding-left: 104px;
}
.project_items {
    display: flex;
    justify-content: space-between;
    
    .project-item{
        margin-bottom: 2em;
    }

    .content {
        display: flex;
        padding-right: 1em;

        .thumb {
            flex-shrink: 0;
            padding: 0 1em 1em 0;
        }
        h2 {
            font-size: 2rem;
            margin-bottom: .5em;
            font-family: $primaryFont;
        }
        .text {
            font-family: $primaryFontLight;
            font-size: 2rem;
            margin-bottom: .5em;
        }
        .author{
            margin-top: 0.5em;
            font-family: $primaryFont;
            font-size: 1.6rem;
        }
    }
}



.codeRepository {
}
.website {
}
.downloadUrl {
}
.documentationUrl {
}
.technologyTag {
}

.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.flex_item {
    flex-basis: 33%;
    flex-shrink: 0;
}
.flex_item img {
    max-width: 90%;
    max-height: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.startDate {
}
.software_commitsPlot {
    height: 150px;
    width: 100%;
}
.software_commitsStat {
    //float: right;
}
.statement {
}
.statement img {
    width: 300px;
}
.contactPerson {
}
.contributor {
}



.box {
	// background-color: #dddddd;
    padding: 20px;
    // margin-top: 20px;
    // margin-bottom: 20px;
    height: 150px;
}
.box_left {
    float: left;
	display: inline-block;
}
.box_right {
    float: right;
	display: inline-block;
}
.box_mainlink {
	background-color: #000000;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
}
.morecontent span {
    display: none;
}
.morelink {
	display: inline-block;
}
.creators_left {
    display: inline-block;
    width: 33%;
}
.creators_right {
    display: inline-block;
    vertical-align:top;
    width: 66%;
}
.creators .flex_container {
    justify-content: flex-start;
    align-items: flex-start;
}
.creators .flex_item {
    flex-basis: 33%;
    flex-shrink: 0;
}
.contactEmail img {
    width: 10px;
    height: 10px;
    padding-right: 6px;
    margin-top: 8px;
}
.mentions {
    width: 90%;
    margin: auto;
}

.mentions .subsubtitle {
    padding-bottom: 0px;
}
.mention_button {
    cursor:pointer;
}
.mention_text {
    display: none;
}
.otherDetails .flex_item {
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

/* ids */
