
section{
    @include bp(max, $phablet){
        .subtitle{
            text-align: center;
        }
    }
}

// Introduction
// -----------------------------------
#introduction{

    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row{
        justify-content: space-between;
    }

    .col-3-4{
        max-width: 860px;
    }
    
}
// .name {
//     font-size: 6.4rem;
// }

.by, .contributingOrganizationJoin {
    font-size: 1.5rem;
    line-height: 1.5;
}

.shortStatement {
    font-family: $primaryFontLight;
    font-size: 3rem;
    line-height: 1.3;
    padding-top: 1.5em;
    padding-bottom: 0.8em;

    @include bp(max, $phablet){
        font-size: 2.4rem;
    }
}

.read-more{
    margin: 30px auto 15px;
}

.read-more_button{

    .icon{
        transition: transform 0.38s ease-in 0.15s;
    }

    &.active{
        .icon{
            transform: rotate(135deg);
        }
    }
}
.read-more_content {
    overflow: hidden;
    transition: height 0.48s ease-in-out;

    p{
        margin-bottom: 1.2em;
    }
}


.highlight-data{
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    
    @include bp(max, $tablet){
        justify-content: space-around;
    }

    .data{
        padding: 10px 25px;
        text-align: center;
    
        .num{
            font-family: $primaryFontLight;
            font-size: 5.4rem;
            color: $primaryColor;
        }
    }
}




// Get Started
// -----------------------------------

#get-started{

    .container{
        padding-top: 70px;
        padding-bottom: 115px;
    }

    .col:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .chart{
       padding-left: 20px;
    }
    
    @include bp(max, $tablet){
        .chart{
            padding-left: 0;
        }
    }
    @include bp(max, $phablet){
        .col:first-child{
            text-align: center;
            margin-bottom: 30px;
        }
        
    }

}

.software_commitsPlot {
    height: 150px;
    width: 100%;
}

// Cite this
// -----------------------------------

#cite-this{
    .citation-block_hidden-toggle{
        position: absolute;
        height: 0px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .subtitle{
        padding-bottom: 0;
    }

    .citation-block{

        transform: translateY(-55px); 
        padding: 40px 80px 40px 70px;
        color: $white;
        justify-content: space-between;
        z-index: 10;
        position: relative;


        &_toggle{
            cursor: pointer;
            position: absolute;
            right: 70px;
            height: 100%;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;

            span{
                width: 24px;
                height: 24px;
            }
            .icon{
                width: 100%;
                height: 100%;
                fill: currentColor;
                transition: transform 0.3s ease-in;
                transform: rotate(135deg);
            }
            &:hover{
                .icon{
                    fill: $primaryColor;
                }
            } 
        }

        &_doi, &_download{
            .row{ 
                margin-top: 0.25em; 
                width: 100%;
                max-width: 600px;
                flex-wrap: nowrap;
            }
        }
        
        &_doi{
            margin-bottom: 2em;
            .doi_url{
                padding: 0.5em 0.9em;
                display: flex;
                align-items: center;
                background-color: lighten( $dark, 5% );
                overflow: hidden;
            }
        }

        .doi_url, .dropdown{
            width: 62%;
        }

        &_download{
            .dropdown_button{
                height: 100%;
            }
        }
        .button{
            margin-left: 10px;
            flex-grow: 1;
            span{
                flex-shrink: 0;
            }
        }

        .content{
            transition: all 0.3s ease-in;
            opacity: 1;
            height: auto;
        }
        &.is-closed{
            .citation-block_hidden-toggle{
                height: 100%;
                z-index: +1;
                
            }
            .citation-block_toggle{
                .icon{
                    transform: rotate(0deg);
                }
            }
            .content{
                transition: all 0.3s ease-in;
                opacity: 0;
                height: 0;         
            }
            &:hover{
                cursor: pointer;
                background-color: $black;
                .subtitle, .citation-block_toggle{
                    color: $primaryColor;
                }
                .dropdown{
                    pointer-events: none;
                }
            }
        }

    }
  

    @include bp(max, $tablet){
        .container{
            padding: 0;
        }
        .citation-block{
            flex-direction: column;
            align-items: center;
            padding: 40px 6vw;
        }
        
    }
    @include bp(max, $phablet){

    }
}


// About
// -----------------------------------

#about{

    .container{
        // padding-top: 50px;
        padding-bottom: 50px;
    }

    .row{
        justify-content: space-between;
    }
    .col-3-4{
        max-width: 860px;
    }
}
.statement{
    .subtitle{
        padding-bottom: 0.3em;
        @include bp(max, $phablet){
            padding-bottom: 1em;
        }
    }

    ul{
        padding-left: 1.5em;
        list-style-type: disc;
        li{
            padding: 0.45em 1em;
            
            ul{
               list-style-type: circle;
            }
        }
    }

    ol{
        padding-left: 1.5em;
        list-style-type: decimal;
        li{
            padding: 0.45em 1em;

            ul{
                list-style-type: circle;
            }
        }
    }
}

.specifications{

    .icon{
        width: 17px;
        height: 17px;
        fill: currentColor;
    }
    h5{
        display: flex;
        align-items: center;
        color: $primaryColor;
        padding: 2em 0 0.5em;

        .icon{
            margin-right: 0.5em;
        }
    }
    .tags{
        margin-left: -2px;
        display: flex;
        flex-wrap: wrap;

        li{
            margin: 2px;
            padding: 0.5em 0.8em;  

            &.bg-light{
                background-color: darken( $light, 4% );
            }
        }
    }
}


// Collaborations
// -----------------------------------

#collaborations{
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.contributing-organisations{
    align-items: center;
      
    .organisation{
        flex-basis: 25%;
        flex-shrink: 0;
        

        &:not(:last-child){
            margin-bottom: 15px;
        }
        
        img{
            max-width: 90%;
            max-height: 100%;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
        @include bp(max, $tablet){
            flex-basis: 33%;
            
        }
        @include bp(max, $phablet){
            flex-basis: 50%;
        }
    }
    @include bp(max, $phablet){
        justify-content: center;
        
    }
}


// Mentions
// -----------------------------------

#mentions{
    .container{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .divider{
        border-top: 1px solid $white;
        opacity: 0.25;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .mention_blog-post {
        margin-bottom: 50px;

        display: flex;
        flex-wrap: wrap;
        
        .image-container{
            flex: 3 0 0;
            overflow: hidden;
            height: 260px;
        }
        img{
            transition: transform 0.27s ease-in-out;
            overflow: hidden;
            object-fit: cover;
            width: 100%;
            height: 100%;
            background-color: darken( $dark, 2%);
        }
        .data{
            display: flex;
            flex-direction: column;
            flex: 4 0 0;

            margin-left: 25px;
   
        }
        .title {
            font-family: $primaryFontLight;
            font-size: 3.6rem;
            line-height: 1.3;
        
            @include bp(max, $phablet){
                font-size: 2.6rem;
            }
        }
        .author, .date{
            font-size: 1.6rem;
            padding: 0;
        }
        .author{
            padding: 0.5em 0 0;
        }

        .visit-blog{
            margin-top: auto;
        }

        &:hover {
            .title, .visit-blog {
                color: $primaryColor;
            }
            img{
                transform: scale(1.03);
            }
            
        }

        @include bp(max, $phablet){
            .image-container, .data{
                flex: auto;
                width: 100%;
            }
            .data{
                margin-left: 0;
                margin-top: 20px;
            }
            .author, .date{
                font-size: 1.4rem;
            }
            .visit-blog{
                margin-top: 1em;
            }
        }
    }
}

.mention{
    
    .mention_button{
        transition: 0.1s ease;
        cursor:pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon{
            transition: 0.2s ease-in;
            width: 18px;
            height: 18px;
            fill: $primaryColor;

            transition: 0.3s ease-in;
            polygon{
                transition: 0.2s ease-in;
            }
        }
        &.active{
            .icon{
                width: 18px;
                height: 18px;
                fill: $primaryColor;

                transform: rotate(135deg);
            } 
            .category{
                transform: translate3d( 8px, 0, 0 );
            }
            .amount{
                background-color: white;
            }
            .icon{
                fill: white;
            }       
        }
        .category{
            transition: 0.2s ease-in;
        }
        &:hover{
            .category{
                transform: translate3d( 8px, 0, 0 );
            }
            .amount{
                background-color: white;
            }
            .icon{
                fill: white;
            }
        }
    }

    h3{
        font-size: 2rem;
        display: flex;
        align-items: center;

        .amount{
            transition: 0.2s ease-in;
            font-family: $primaryFontBold;
            font-size: 0.8em;
            border-radius: 50%;
            width: 1.5em;
            height: 1.5em;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $primaryColor;
            color: $dark;
            margin-right: 0.8em;
            
        }
    }

    .mention_list{
        //display: none;
        overflow: hidden;
        transition: height .5s;
        margin: 0;
        ul{
            padding: 20px 0 15px;
        }
        li{

            &:not(:last-child) { margin-bottom: 2px; }
            
            .mention_content{ 
                display: block;
                padding: 1em; 
                background-color: lighten( $dark, 10% );
            }
            a.mention_content:hover{
                background-color: darken( $light, 2% );
                color: $black;
            }
        }

    }

    .icon{
        margin-left: 0.5em;
        width: 0.8em;
        height: 0.8em;
        display: inline-block;
        fill: currentColor;
    }

}


// .otherDetails .flex_item {
//     padding: 20px;
//     flex-grow: 1;
//     flex-shrink: 1;
//     flex-basis: auto;
// }


// Projects
// -----------------------------------

#projects{
    .container{
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
.testimonial {
    background-color: $primaryColor;
    padding: 2.25em;
    position: relative;
    blockquote {
        color: $white;
        font-family: $primaryFontLight;
        font-size: 1.5em;
        &:before {
            content: '\201C';
        }
        &:after {
            content: '\201D';
        }
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        border: 0 solid transparent;
        position: absolute;
        left: 72px;
        top: 100%;
        border-top-width: 0;
        border-bottom-width: 24px;
        border-right: 16px solid $primaryColor;
    }
}
.testimonialby {
    margin: 20px 0 4em;
    padding-left: 96px;
}
.project-items {
    display: flex;
    justify-content: space-between;
    
    .project-item{
        &:not(:last-child){
            margin-bottom: 2em;
        }

        width: 50%;

        @include bp(max, 767px ){
            width: 100%;
        }

        &:hover{
            color: $primaryColor!important;
            .thumb{
                transform: scale(1.03);
            }
        }
    }

    .content {
        display: flex;
        padding-right: 2em;
        
        .thumb {
            transition: 0.25s ease-in;
            flex-shrink: 0;
            padding: 0 1em 1em 0;
            width: 100px;
            height: 100px;
        }
        h2 {
            font-size: 2rem;
            line-height: 1.3em;   
            margin-bottom: .2em;
            font-family: $primaryFont;
        }
        .text {
            font-family: $primaryFontLight;
            font-size: 2rem;
            line-height: 1.3em;
            margin-bottom: .2em;
        }
        .author{
            margin-top: 0.3em;
            font-family: $primaryFont;
            font-size: 1.6rem;
            line-height: 1.4em;
        }
    }
}

// Contributors
// -----------------------------------

#contributors{
    .container{
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .intro {
        margin-bottom: 2em;
        a {
            text-decoration: underline;
        }
    }
    .contributors_list {
        
        width: ( 100% / 3 ) * 2;

        @include bp(max, 1100px ){
            width: 90%;
            order: 2;
            margin-top: 40px;
        }
        @include bp(max, $phablet ){
            width: 100%;
        }
        ul{
            margin: 0 -10px 15px;
            li {
                padding: 0 10px;
                margin-bottom: 2em;
                width: 50%;

                @include bp(max, $phablet ){
                    width: 100%;
                    margin-bottom: 1.2em;
                    .contributor_name{
                        font-size: 1.8rem;
                   }
                 }
            }
        }

        &.long-list{
            .row{
                transition: height 0.3s ease-in;
                height: 260px;
                overflow: hidden;

                .gradient{ transition: opacity 0.23s ease; }
            }

            .button .icon{
                transition: 0.3s ease-in;
            }

            &.active{
                .row .gradient{ opacity: 0; }

                .button .icon{
                    transform: rotate(135deg);
                }
                
            }
        }
    }

    .button {
        margin-bottom: 2em;
    }
    .contributor_name {
        font-family: $primaryFont;
        font-size: 2rem;
        color: $primaryColor;
    }
    .contributor_picture {
        margin-bottom: 1em;
        text-align: center;
        img {
            max-width: 120px;
            max-height: 120px;
            border-radius: 50%;
        }
    }
    .contributor_email {
        svg {
            height: 1em;
            width: 1em;
            position: relative;
            top: 3px;
            margin-right: 0.3em;
            display: inline-block;
        }
        &:hover{
            color: $primaryColor;
        }
    }

    .contact_card {
        width: ( 100% / 3 );
        z-index: 10;
        .contact_card_header {
            color: $white;
            text-transform: uppercase;
            font-size: 1.6rem;
            letter-spacing: 0.01em;
            font-family: $primaryFontBold;
            background-color: $primaryColor;    
            padding: 0.8em 1.5em 0.8em 1.45em;
        }
        .contact_card_content {
            line-height: 1.55;
            padding: 1.5em 2.5em 1.5em 1.5em;
            background-color: $white;

            display: flex;
            flex-direction: column;
        }

        @include bp( maxMin, 1100px, $phablet ){
            width: auto;
  
            .contact_card_content{
                flex-direction: row;
                align-items: center;
                
                .contributor_picture{
                    margin-right: 20px;
                }
                .contributor_info{
                    margin-top: -0.3em;
                }
            }
        }
        @include bp(max, $phablet ){
            text-align: center;
            width: 100%;
            .contact_card_content{
                padding: 1.5em;
            }
        } 
    }

    @include bp(max, $phablet ){
        text-align: center;
    }
}

// Related tools
// -----------------------------------

#related-tools{
    .container{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}