# minute         hour day month	weekday command
0                5    *   *     *       cd /app && python app.py harvest citations && python app.py harvest commits && python app.py harvest metadata && python app.py harvest projects
0,10,20,30,40,50 *    *   *     *       cd /app && python app.py harvest mentions
5,15,25,35,45,55 *    *   *     *       cd /app && python app.py resolve
#
#
# See https://github.com/research-software-directory/research-software-directory/tree/master/harvesting#usage for an explanation of each harvester.
