{% extends "layout_template.html" %}
{%- block head -%}
    {{super()}}
    <title>{{template_data.title}} | Research Software Directory</title>
    <meta property="description" content="{{template_data.description}}" />
    <meta property="og:title" content="{{template_data.title}}" />
    <meta property="og:description" content="{{template_data.description}}" />
    <meta property="og:url" content="https://www.research-software.nl/projects/{{template_data.id}}" />
    <meta property="og:site_name" content="Research Software Directory" />
    <script type="text/javascript" src="{{url_for('static', filename='scripts/polyfills.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/software_scripts.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" crossorigin="anonymous"></script>
{%- endblock -%}
{%- block content -%}

    <!-- omit the corporate home link -->
    {% block corporate_home %}{% endblock %}

    {% include 'project/introduction.html' %}
    {% include 'project/outputimpact.html' %}
    {% include 'project/team.html' %}
    {% include 'project/related_projects.html' %}
    {% include 'software/related_tools.html' %}

{%- endblock -%}
