<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col col-1-4">
                <h2 class="subtitle text-blue">Team</h2>
            </div>
            {% if template_data.team %}
                <div class="col col-3-4 contributors_list">
                    <ul class="row">
                        {% for contributor in template_data.team %}
                            <li class="col col-1-3">
                                <div class="contributor_name">
                                    {{contributor.foreignKey | human_name_filter}}
                                </div>
                                {% if contributor.affiliations %}
                                    <div class="contributor_organisation">
                                        {{contributor.affiliations[0].foreignKey.name}}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</section>
